.text-primary {
  color: @brand-primary;
}
.text-warning {
  color: @brand-warning;
}
.text-success {
  color: @brand-success;
}
.text-danger {
  color: @brand-danger;
}
.text-accent {
  color: @brand-accent;
}
.text-accent2 {
  color: @brand-accent2;
}
.text-accent3 {
  color: @brand-accent3;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}