body#createnew {
  #app {
    .app-heading {
      font-size: 1.5em;
      margin: 0 0 0.3em 0.7em;
    }
    form {
      .submitter {
        display: flex;
        flex-direction: row-reverse;
        > button {
          color: @white;
          background-color: @brand-primary;
          margin-right: 1em;
          padding: 0.5em 3em;
          &.disabled {
            color: @black;
            background-color: @gray-lighter;
          }
        }
      }
    }
    .creation-cards-container {
      display: flex;
      flex-wrap: wrap;
    }
  }


  #import_post {
    .hidden {
      display: none;
    }
    .remote-list {
      font-size: 14px;
      list-style: none;
      padding-left: 0;
      li {
        &:nth-child(odd) {
          background-color: darken(@neutral-color, 5%);
        }
        .info {
          width: 1000px;
          display: inline-block;
        }
        :hover .controls {
          opacity:1;
          transition: opacity .5s ease-in-out;
        }
        .controls {
          display: inline-block;
          opacity:0;
          padding:5px;
        }
        padding:3px;
        .identifier {
          font-style: italic;
        }
        .title {
          font-weight:bold;
        }
      }
    }
    .remoteDatabases {
      padding: 0px;
      border: 1px solid @gray-light;
      height: 400px;
      overflow-y: scroll;
      list-style: none;
      li.databaseItem {
        &:nth-child(odd) {
          background-color: darken(@neutral-color, 5%);
        }
        padding: 3px 10px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 450px;
        }
        .dbCountry {
          margin: 0px;
        }
        .dbAddr {
          font-size: 85%;
          margin: 0px;
        }
        .dbLabel {
          font-weight: bold;
          display: block;
          width: 450px;
          display: block;
        }
        .dbCheckbox {
          float: right;
          margin-right: 1em;
          margin-top: 1em;
        }
      }
    }
  }

}
