body#createnew {

  .form-container {
    display: none;
  }
  // create new thing
  .choice {
    cursor: pointer;
    text-align: center;
    i {
      font-size: 5em;
      color:#dadada;
    }
  }

}
