

#appContainer {
  margin-top: 30px;
  margin-bottom: 100px;

  #loadingText {
    background-color: fadeout(@neutral-color,25%);
    // margin: 120px 0;
    padding: 20px 0px;
    width: 100%;
    min-height: 50vh;
    vertical-align: middle;
    text-align: center;
    .status {
      display: block;
    }
    .error {
      display: inline-block;
      font-family: monospace;
      border: 1px solid maroon;
      margin-top: 30px;
      padding: 5px;
      max-width: 50%;
      color: maroon;
    }
  }
}

#editorApp {
  width: 100%;
  padding-bottom: 5px;
  display: none;
  background-color: fadeout(@neutral-color,25%);
  font-size: 14px;
  box-shadow: 0px 0px 16px 2px rgba(220,220,220,1);

  .linked-items {
    >li {
      max-width: 700px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      ul {
        list-style-type: none;
        padding: 5px;
      }
    }
  }

  .unknown {
    color: #bd2323;
  }

  .panel.main-item {
    border: 0px;
  }

  .field-controls {
    margin: 5px 0px 0px 0px;
    .link-adder {
      float: left;
      width: 200px;
      .add {
        display: block;
        font-size: 0.8em;
        cursor: pointer;
        &:hover {
          color: @brand-primary;
        }
      }
    }
  }
}

#result {
  padding: 20px;
  h2 {
    display: inline-block;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 500px;
  }
}
