
.relation-experiment {
  border: 1px solid #ccc;
  padding: 1em;
  h3 {
    font-size: 14pt;
    display: inline-block;
  }
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0.5em;
      padding: 0.3em;
      margin: 0.3em;
    }
  }
}

#appContainer {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;

  #loadingText {
    // margin: 120px 0;
    padding: 20px 0px;
    width: 100%;
    min-height: 50vh;
    vertical-align: middle;
    text-align: center;
    outline: solid #ccc;
    outline-width: 1px;
    background-color: #fff;
    .status {
      display: block;
      font-size: 0.7em;
    }
    .error {
      display: inline-block;
      font-family: monospace;
      border: 1px solid maroon;
      margin-top: 30px;
      padding: 5px;
      max-width: 50%;
      color: maroon;
    }
  }
}

#editorApp {
  width: 100%;
  display: none;
  font-size: 14px;

  .linked-items {
    >li {
      max-width: 700px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      ul {
        list-style-type: none;
        padding: 5px;
      }
    }
  }

  .distinguish-removal {
    border: 1px dashed @gray-dark;
    background-color: rgba(255,0,0,.1);
  }

  .unknown {
    color: #bd2323;
  }

  .panel.main-item {
    border: 0px;
  }

  .field-controls {
    margin: 5px 0px 0px 0px;
    .link-adder {
      float: left;
      width: 200px;
      .add {
        display: block;
        font-size: 0.8em;
        cursor: pointer;
        &:hover {
          color: @brand-primary;
        }
      }
    }
  }
}

#result {
  padding: 20px;
  h2 {
    display: inline-block;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 500px;
  }
}

footer {
  bottom: 0px;
  width: 100%;
  .nav > li > a {
    padding: 15px 15px;
  }
  .footer-container {
    margin-top: 0px;
  }
  h1 {
    font-size: 16px;
  }
}
