body#login,
body#logout,
body#usersettings {
  main {
    margin-top: 30px;
    margin-bottom: 100px;


    .btn-login {
      background-color: @orange;
      color: @white;
      font-size: 18px;
      padding: 12px;
    }

// User settings
    h1 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    }
    h3 {
      font-size: 16px;
    }
    .label {
      color:@gray;
      font-weight:normal;
      font-size: 12px;
      padding: 0;
      display: inline-block;
    }

    select {
      margin-bottom:20px;
    }
    .settings-container {
      padding: 0 15px 15px;
      margin: 0px;
      h2 {
        padding-top:15px;
      }
      .info-box {
        border-right:1px solid #dddddd;
      }
      ul {
        list-style-type: none;
        padding: 30px;
        li:before {
          content: "■";
          color: @happy-muted-magenta;
          margin-right: 10px;
        }
      }
    }
    .option {
      width: 100%;
      border: 1px solid #b7b7b7;
      margin: 0.5em 0px;
      padding: 0.5em;
      border-radius: 5px;
      cursor: pointer;
      &.active {
        background-color: rgba(202, 149, 67, 0.18);
        font-weight: bold;
      }
      .permissions {
        padding-left: 1em;
        font-weight: initial;
      }
      > input {
        visibility: hidden;
      }
    }

// User settings end

    .btn-login:hover,
    .btn-login:focus,
    .btn-login:active {
      background-color: #A87E3D;
      color: @white;
    }

    .logout-message {
      padding-top: 30px;
    }
    .login-info-panel {
      ul {
        padding: 30px;
      }
    }
    #oauth-login-buttons {
      width: 100%;
      text-align: center;
      padding: 2em 0em;
    }
  }

}
