body#login,
body#logout,
body#usersettings {
  main {
    margin-top: 30px;
    margin-bottom: 100px;

    ul {
      list-style-type: none;
      padding: 30px;
    }

    li:before {
      content: "■";
      color: @happy-muted-magenta;
      margin-right: 10px;
    }

    .btn-login {
      background-color: @orange;
      color: @white;
      font-size: 18px;
      padding: 12px;
    }

// User settings
    h1 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    }
    .label {
      color:@gray;
      font-weight:normal;
      font-size: 12px;
      padding: 0;
      display: inline-block;
    }

    select {
      height: 10em;
      margin-bottom:20px;
    }

// User settings end

    .btn-login:hover,
    .btn-login:focus,
    .btn-login:active {
      background-color: #A87E3D;
      color: @white;
    }

    .logout-message {
      padding-top: 30px;
    }
    #oauth-login-buttons {
      width: 100%;
      text-align: center;
      padding: 2em 0em;
    }
  }

}
