@import '../shared/utils.less';
@import '../shared/index.less';
@import '../shared/vocab.less';
@import '../shared/edit.less';
@import '../shared/graph.less';
@import '../shared/thing.less';
@import '../shared/items.less';
@import '../shared/marcframe.less';
@import '../shared/website.less';
@import '../shared/search.less';
@import '../shared/article.less';
@import '../shared/panel.less';
@import '../shared/navbar.less';
@import '../shared/login.less';
@import '../shared/createnew.less';

// ----------- BASE STYLES ----------

@orange: #CA9543;
@green: #009788;
@grey-very-dark: #191913; // font-color

@modal-z: 999;
@active-component-z: 99;
@backdrop-z: 950;


// Column widths
@col-label: 200px;
@col-value: 620px;
@col-action: 250px;


html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

main {
  min-height: 75vh;
  margin-bottom: 100px;
}

#body-blocker {
  display: none;
}
html.scroll-lock {
  overflow: hidden;
  #body-blocker {
    display: block;
    z-index: @backdrop-z;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

body {
  position: relative;
  background-color: @bg-site;
  background-image: @bg-img;

   /********/
  /* Main-item
  /* An item shown on its own page
  /********/

  .main-item {
    >.panel-body {
      >dl {
        .dl-mixin();
      }
    }
    >.panel-heading {
      .header-colored();
      .thing-label {
        font-size: 2em;
      }
    }
  }
}

body.loading * {
  cursor: progress;
}


.dropdown-menu.list-inline {
  width: 42em;
}
.dropdown-menu.list-inline > li > a {
  padding: 2px 8px;
}

tbody td, tbody th {
  vertical-align: top;
}

.has-navbar [id]:before {
  display: block;
  content: " ";
  height: 50px;
  margin-top: -50px;
}

h2 {
  font-weight: normal;
}

footer {
  background-color: @bg-footer;
  border: 0px solid @border-footer;
  z-index: 999;
  color: @text-footer;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  .navbar-formats {
    text-shadow: none;
    font-size: 14px;
  }
  a {
    color: @text-footer;
    text-transform:none;;
  }
  .brand-text {
    text-transform: uppercase;
    display: inline-block;
    width: 14em;
  }
  i {
    color: @text-alt-footer;
  }
}

.popover.state-active {
  display: block;
  width: 460px;
  max-width: 460px;
  z-index: 990;
  .panel-body {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
  }
}
.badge {
  background-color: fadeout(@brand-primary, 30%);
  font-weight: 300;
}

.rdf-class, .rdf-property {
  margin: 0 1.0em 0.6em 0;
  float: left;
  width: 100%;
  max-width: 800px;
  .loc {
    .chip-prop {
      display: inline;
      line-height: 1.7;
    }
    .chip-class {
      display: inline;
      line-height: 1.7;
    }
  }
}

.search-controls,
.result-controls,
.hit-item,
.main-item,
.scheme-item {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}

.dash {
  border-top: 5px solid @grey-dark;
  position:relative;
  margin-bottom: 30px;
}
.dash .circle {
  width:38px;
  height:38px;
  display:block;
  position:absolute;
  left:50%;
  margin-left:-19px;
  top:-21px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  .icon {
    display:block;
    text-align:center;
    line-height:38px;
    color:@white;
    font-size:20px;
    padding-left:1px;
  }
}
.dash.orange {
  border-top-color: @orange;
}
.dash.orange .circle {
  background-color: @orange;
}
.dash.green {
  border-top-color: @green;
}
.dash.green .circle {
  background-color: @green;
}

// ----------- BUTTONS ----------------
button, .btn-primary, .btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
}

button {
  color:#444;
  border:none;
  border-radius: 2px;
  background:#ccc;
  padding: 0 0.4em;
  font-weight:bold;
  &:hover {
  background: #ddd;
  color:#222;
  }
  &:focus {
  background:#bbb;
  }
}
// ----------- VARIOUS ----------------
