/********/
/* Widths for definition lists */
@width-step-1: 645px;
@width-step-2: 440px;
/********/

/********/
/* Mixins for headers
/********/

@accent-color: @thing-header-bg;
@neutral-color: #fff;
@dl-gray: #fafafa;

.header-colored {
  transition: background-color ease 0.2s;
  background-color: @accent-color;
  >.panel-title {
    a {
    transition: color ease 0.2s;
    color: @thing-header-text;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    }
  }
  >.panel-heading-meta {
    height: 16px;
    .label-class {
      color: @thing-header-text;
    }
    .thing-id {
      color: @gray-darker;
      code {
        background-color: fadeout(lighten(@accent-color, 15%), 40%);
        color: @gray-darker;
      }
    }
  }
}
.header-uncolored {
  background-color: #fff;
  >.panel-title {
    a {
    color: @gray-darker;
    text-shadow: none;
    }
  }
  >.panel-heading-meta {
    .label-class {
      color: darken(@neutral-color, 50%);
      text-shadow: none;
    }
    .thing-id {
      color: @gray-darker;
      code {
        background-color: @dl-gray;
        color: @gray-darker;
      }
    }
  }
}

/*********/
/* General rules
/*********/
.panel-heading-meta {
  height: 16px;
}
.label-class {
  text-transform: uppercase;
  border-bottom: 1px dashed transparent;
  cursor: help;
  font-size: 12px;
  line-height: 12px;
  float: left;
  &:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
  }
}

/*********/
/* General panel rules
/*********/

.main-item, .hit-item {
  .panel-body {
    padding: 5px;
  }
  .panel-heading {
    border: none;
    .panel-title {
      display: inline-block;
      .thing-label {
        font-weight: 400;
      }
    }
    .panel-heading-meta {
      display: block;
      >.label-class {
        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
        display: inline-block;
        width: auto;
      }
      >.thing-id {
        float: right;
        line-height: 16px;
        margin-left: 1em;
        display: inline-block;
        text-decoration: none;
        code {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  
}



/*********/
/* Mixin for tables
/*********/

.dl-mixin {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  background-color: @dl-gray;
  padding: 5px;
  hr {
    border-style: dotted;
    margin: 0px 0px 0px 0px;
  }
  >dd {
    width: @width-step-1;
    >.panel {
      >.panel-heading {
        .header-colored();
      }
      >.panel-body>dl {
        margin-bottom: 0px;
        background-color: @dl-gray;
        > dd {
          width: @width-step-2;
        }
      }
    }
    >.panel.link-item {
      >.panel-heading {
        .header-uncolored();
      }
    }
    >ul {
      width: @width-step-1;
      li > .panel:not(.link-item) {
        >.panel-body {
          >dl {
            background-color: @dl-gray;
            margin-bottom: 0px;
            >dd {
              width: @width-step-2;
              >ul {
                max-width: @width-step-2;
              }
            }
          }
        }
      }
    }
  }
  dd, dt {
    padding: 3px 0px 0px 0px;
  }
  dt {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-size: 12px;
    width: 160px;
    text-align: right;
    margin-right: 1em;
    a {
      cursor: help;
      color: @color-prop-list;
      line-height: 12px;
      font-weight: normal;
      border-bottom: dashed transparent 1px;
      display: inline-block;
      &:hover, &:focus {
        text-decoration: none;
        border-bottom: dashed @color-prop-list 1px;
      }
    }
  }
  dd {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    ul {
      list-style: none;
      padding: 0px;
    }
    .panel {
      margin-top: 0px;
      margin-bottom: 6px;
    }
  }
}

/*********/

body#thing {
  
  height: 100%;
  
  main {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  /********/
  /* Main-item
  /* An item shown on its own page
  /********/
  
  .main-item {
    >.panel-body {
      >dl {
        .dl-mixin();
      }
    }
    >.panel-heading {
      .header-colored();
      .thing-label {
        font-size: 2em;
      }
      .edit-button {
        font-size: 12px;
        line-height: 12px;
        float: left;
        margin-left: 3em;
        i {
          margin-right: 0.3em;
        }
        color: @neutral-color;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
  
  /********/
  /* Link-item
  /* aka "chips"
  /********/
  
  .link-item {
    display: inline-block;
    float: left;
    margin: 5px;
    border: 1px solid @accent-color;
    > .panel-heading {
      background-color: @neutral-color;
      border-radius: 3px;
      border-width: 0px;
      overflow-x: hidden;
      padding: 2px;
      > .panel-title {
        font-weight: normal;
        font-size: 14px;
        padding: 3px;
      }
      > .panel-heading-meta {
        display: none;
      }
    }
  }
  
  // Link-item-copy
  // The item that is shown on hover
  .copy-holder {
    position: absolute;
    opacity: 0;
    display: none;
    padding: 7px 0px 0px 0px;
    transition: 0.25s ease;
    transition-property: opacity;
    &.active {
      display: block;
      opacity: 1;
      z-index: 999;
      .arrow {
        top: 2px;
        opacity: 1;
      }
    }
    .arrow {
	    position: absolute;
      opacity: 0;
	    top: 6px;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid @accent-color;
      width: 0;
      height: 0;
    }
  }
  .link-item-copy {
    margin: 0px;
    padding: 3px;
    background-color: @accent-color;
    overflow-x: visible;
    border: solid fadeout(darken(@accent-color,15%),30%);
    border-width: 0px 1px 1px 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    .panel-heading {
      overflow-x: visible;
      .panel-heading-meta {
        padding-top: 2px;
        display: block;
        .thing-id {
          max-width: 100px;
          &:hover {
            overflow: visible;
            position: absolute;
          }
        }
      }
    }
    >.panel-heading {
      .header-colored();
      >.panel-heading-meta {
        padding: 3px 5px 0px 0px;
      }
      >.label-class {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0px;
      }
      >.panel-title {
        padding: 3px 0px 0px 0px;
        font-size: 16px;
      }
    }
    .thing-id {
      display: none;
    }
    .panel-title {
      width: 100%;
    }
  }
  
  /********/
  /* Hit-item
  /* an item shown in search-results
  /********/
  
  .hit-item {
    
    margin: 0px 0px -2px 0px;
    
    >.panel-heading {
      >.panel-heading-meta {
        >.thing-id {
          opacity: 0;
          transition: 0.25s ease opacity;
        }
      }
      .header-uncolored();
      .panel-title {
        font-size: 24px;
      }
      .expand-button {
        display: inline-block;
        cursor: pointer;
        height: 12px;
        width: 12px;
        text-align: center;
        position: relative;
        top: -2px;
        margin-right: 0.2em;
        font-size: 0.7em;
        i {
        }
        &:hover {
          color: @brand-primary;
        }
      }
    }
    >.panel-body {
      max-height: 0px;
      transition: 0s linear opacity;
      opacity: 0;
      overflow-y: hidden;
      >dl {
        .dl-mixin();
        >dd {
          width: @width-step-1;
          >ul > li > .panel:not(.link-item) {
            >.panel-heading {
              .header-colored();
            }
          }
          >.panel:not(.link-item) {
            >.panel-heading {
              .header-colored();
            }
          }
        }
      }
    }
    &.expanded {
      >.panel-heading >.panel-heading-meta > .thing-id {
        opacity: 1;
      }
      >.panel-body {
        max-height: none;
        transition: 0.3s linear opacity;
        opacity: 1;
      }
    }
  }
  
  /********/
  /* Side view, related items
  /********/
  
  .side-view {
    >.panel {
      >.panel-heading {
        background-color: @neutral-color;
        h4 {
          margin: 0;
        }
      }
      >.panel-body {
        background-color: @dl-gray;
        >dl>dt {
          clear: both;
        }
      }
    }
  }
  
  /********/
  /* Footer
  /********/
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    .nav > li > a {
      padding: 15px 15px;
    }
  }
  
  
  
/* Body block end */
}
