@import '../../js/es6/components/mixins/_mixins.less';

/********/
/* Widths for definition lists */
@width-step-1: 645px;
@width-step-2: 440px;
/********/

div.thing {
  width: 100%;
  border: 1px solid #ccc;
  background-color: @white;
  font-size: 14px;
  &.thing-list-item {
    border-width: 0px 1px 0px 1px;
    > .header {
      width: 100%;
      border: solid #ccc;
      border-width: 0px 0px 1px 0px;
      background-color: @white;
      cursor: pointer;
    }
    > .body {
      max-height: 0px;
      display: none;
      overflow: hidden;
    }
    &.expanded {
      border-width: 1px 1px 3px 1px;
      > .header {
        background-color: @brand-primary;
        color: @white;
        a {
          color: @white;
        }
        > .title {
          font-size: 140%;
        }
      }
      .expand-button {
        opacity: 1;
      }
      > .body {
        display: block;
        animation-timing-function: ease;
        animation-name: expand;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
    .expand-button {
      opacity: 0.1;
      transition: 0.25s ease;
      transition-property: opacity;
      i {
        transition: transform 0.25s ease;
      }
    }
    &:hover {
      .expand-button {
        opacity: 1;
      }
    }
  }
  &.thing-full {
    border-radius: 3px;
    > .header {
      padding: 0.5em;
      background-color: @brand-primary;
      color: @white;
    }
  }
  > .header {
    line-height: 1em;
    h1 {
      line-height: 1.6;
      margin: 0;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span.title {
      width: 74%;
      padding: 0.5em 1em 0.5em 0;
      transition: font-size 0.25s ease;
    }
    span.class {
      text-align: right;
      width: 20%;
      padding: 0.5em 1em;
    }
    span.expand-button {
      cursor: pointer;
      padding: 0.5em 0.5em;
    }
  }
  .body {
    background-color: #fafafa;
    .chip-container {
      display: inline-block;
      .chip {
        .chip-mixin(@brand-primary, @white);
      }
      .card-hidden {
        display: none;
        opacity: 0;
      }
      .card-shown {
        display: block;
        opacity: 1;
        max-height: 500px;
      }
    }
    .data-node {
      min-height: 3em;
      width: 100%;
      border: solid #ccc;
      border-width: 0px 0px 1px 0px;
      outline: none !important;
    }
  }
}

.item-embedded {
  width: 100%;
  background-color: #fdfdfd;
  border: solid #ccc;
  border-width: 1px 1px 3px 1px;
  margin: 0px 0px 5px 0px;
  line-height: 1.6;
  max-height: 40px;
  transition: all 0.5s ease;
  overflow: hidden;
  &.expanded {
    transition: all 0.5s ease;
    max-height: 700px;
  }
  > div {
    padding: 5px;
  }
  > span {
    display: flex;
    align-items: center;
    padding: 5px;
    i {
      transition: all 0.2s ease;
      padding: 0 0.5em;
      cursor: pointer;
      &.down {
        transform:rotate(90deg);
      }
    }
    .collapsed-label {
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .placeholder {
        visibility: hidden;
      }
      > span {
        padding-left: 1em;
      }
    }
  }
  .type {
    text-transform: uppercase;
    font-weight: bold;
    a {
      text-decoration: none;
      cursor: help;
      color: @black;
    }
  }
  .chip-action {
    transition: opacity 0.25s ease;
    opacity: 0;
    align-self: right;
    cursor: pointer;
    &.show-icon {
      opacity: 1;
    }
  }
  .item-label {
    display: block;
  }
}

.card-info-container {
  .card-mixin(@brand-primary, @white);
}

/********/
/* Mixins for headers
/********/

@accent-color: @thing-header-bg;
@neutral-color: #fff;
@dl-gray: #fafafa;

.header-colored {
  transition: background-color ease 0.2s;
  background-color: @accent-color;
  >.panel-title {
    transition: color ease 0.2s;
    color: @thing-header-text;
    //text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  }
  >.panel-heading-meta {
    height: 16px;
    .label-class {
      color: @thing-header-text;

    }
    .thing-id {
      color: @thing-header-text;
      code {
        background-color: fadeout(lighten(@accent-color, 15%), 40%);
        color: @gray-darker;
      }
    }
  }
}
.header-uncolored {
  background-color: #fff;
  >.panel-title {
    a {
    color: @gray-darker;
    text-shadow: none;
    }
  }
  >.panel-heading-meta {
    .label-class {
      color: darken(@neutral-color, 50%);
      text-shadow: none;
    }
    .thing-id {
      color: @gray-darker;
      code {
        background-color: @dl-gray;
        color: @gray-darker;
      }
    }
  }
}

/*********/
/* General rules
/*********/
.panel-heading-meta {
  height: 16px;
}
.label-class {
  text-transform: uppercase;
  border-bottom: 1px dashed transparent;
  cursor: help;
  font-size: 12px;
  line-height: 12px;
  float: left;
  &:hover {
    text-decoration: none;
    text-shadow: none;
    border-bottom: 1px dashed;
  }
}

/*********/
/* General panel rules
/*********/

.main-item, .hit-item {
  .panel-body {
    padding: 5px;
  }
  .panel-heading {
    border: none;
    border-radius: 0;
    .panel-title {
      display: inline-block;
      .thing-label {
        font-weight: 400;
        word-break: break-all; /* temp fix to not make long uri:s go havoc on the gui */
      }
    }
    .panel-heading-meta {
      color: @neutral-color;
      display: block;
      >.label-class {
        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
        display: inline-block;
        width: auto;
      }
      >.toolbar {
        float: right;
      }
      >.thing-id {
        // float: right;
        line-height: 16px;
        margin-left: 1em;
        display: inline-block;
        text-decoration: none;
        code {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

}



/*********/
/* Mixin for tables
/*********/

.dl-mixin {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  background-color: @dl-gray;
  padding: 5px;
  hr {
    border-style: dotted;
    margin: 0px 0px 0px 0px;
  }
  >dd {
    width: @width-step-1;
    >.panel {
      >.panel-heading {
        .header-colored();
      }
      >.panel-body>dl {
        margin-bottom: 0px;
        background-color: @dl-gray;
        > dd {
          width: @width-step-2;
        }
      }
    }
    >.panel.link-item {
      >.panel-heading {
        .header-uncolored();
      }
    }
    >ul {
      width: @width-step-1;
      li > .panel:not(.link-item) {
        >.panel-body {
          >dl {
            background-color: @dl-gray;
            margin-bottom: 0px;
            >dd {
              width: @width-step-2;
              >ul {
                max-width: @width-step-2;
              }
            }
          }
        }
      }
    }
  }
  dd, dt {
    padding: 3px 0px 0px 0px;
  }
  dt {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-size: 12px;
    width: 160px;
    text-align: right;
    margin-right: 1em;
    a {
      cursor: help;
      color: @color-prop-list;
      line-height: 12px;
      font-weight: normal;
      border-bottom: dashed transparent 1px;
      display: inline-block;
      &:hover, &:focus {
        text-decoration: none;
        border-bottom: dashed @color-prop-list 1px;
      }
    }
  }
  dd {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    ul {
      list-style: none;
      padding: 0px;
    }
    .panel {
      margin-top: 0px;
      margin-bottom: 6px;
    }
  }
}

/*********/

body#thing, body#pagedcollection {

  height: 100%;

  main {
    margin-top: 30px;
    margin-bottom: 400px;
  }

  .landing-box {
    padding: 20px 15px;
    &.libris-color {
      background-color: #a3d8d3;
    }
    &.id-color {
      background-color: #bacad4;
    }
  }

  .main-info {
    height: 7em;
  }
  .loadingText {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    // margin: 120px 0;
    padding: 20px 0px;
    width: 100%;
    min-height: 50vh;
    vertical-align: middle;
    text-align: center;
    .status {
      display: block;
      font-size: 0.7em;
    }
    .error {
      display: inline-block;
      font-family: monospace;
      border: 1px solid maroon;
      margin-top: 30px;
      padding: 5px;
      max-width: 50%;
      color: maroon;
    }
  }

  /********/
  /* Link-item
  /* aka "chips"
  /********/

  .link-item {
    display: inline-block;
    float: left;
    margin: 5px;
    &:first-child {
      margin-left: 0 !important;
      }
    //border: 1px solid @accent-color;
    > .panel-heading {
      background-color: @gray-lighter;
      &:hover {
        background-color: darken(@gray-lighter, 5%);
      }
      border-radius: 3px;
      border-width: 0px;
      overflow-x: hidden;
      padding: 2px;
      > .panel-title {
        font-weight: normal;
        font-size: 14px;
        padding: 3px;
      }
      > .panel-heading-meta {
        display: none;
      }
    }
  }

  // Link-item-copy
  // The item that is shown on hover
  .copy-holder {
    position: absolute;
    opacity: 0;
    display: none;
    padding: 7px 0px 0px 0px;
    transition: 0.25s ease;
    transition-property: opacity;
    &.active {
      display: block;
      opacity: 1;
      z-index: 999;
      .arrow {
        top: 2px;
        opacity: 1;
      }
    }
    .arrow {
	    position: absolute;
      opacity: 0;
	    top: 6px;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid @accent-color;
      width: 0;
      height: 0;
    }
  }
  .link-item-copy {
    margin: 0px;
    padding: 3px;
    background-color: @accent-color;
    overflow-x: visible;
    border: solid fadeout(darken(@accent-color,15%),30%);
    border-width: 0px 1px 1px 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    .toolbar {
      display: none;
    }
    .panel-heading {
      overflow-x: visible;
      .panel-heading-meta {
        padding-top: 2px;
        display: block;
        .thing-id {
          max-width: 100px;
          &:hover {
            overflow: visible;
            position: absolute;
          }
        }
      }
    }
    >.panel-heading {
      .header-colored();
      >.panel-heading-meta {
        padding: 3px 5px 0px 0px;
      }
      >.label-class {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0px;
      }
      >.panel-title {
        padding: 3px 0px 0px 0px;
        font-size: 16px;
      }
    }
    .thing-id {
      display: none;
    }
    .panel-title {
      width: 100%;
    }
  }

  /********/
  /* Hit-item
  /* an item shown in search-results
  /********/

  .hit-item {

    margin: 0px 0px -2px 0px;

    >.panel-heading {
      >.panel-heading-meta {
        color: @gray-darker;
        >.toolbar {
          opacity: 0;

        }
        >.thing-id {
          opacity: 0;
          transition: 0.25s ease opacity;
        }
      }
      .header-uncolored();
      .panel-title {
        font-size: 24px;
      }
      .expand-button {
        color: @happy-muted-magenta;
        display: inline-block;
        cursor: pointer;
        height: 12px;
        width: 12px;
        text-align: center;
        position: relative;
        top: -2px;
        margin-right: 0.2em;
        font-size: 0.7em;
        i {
        }
        &:hover {
          color: @brand-primary;
        }
      }
    }
    >.panel-body {
      max-height: 0px;
      transition: 0s linear opacity;
      opacity: 0;
      overflow-y: hidden;
      >dl {
        .dl-mixin();
        >dd {
          width: @width-step-1;
          >ul > li > .panel:not(.link-item) {
            >.panel-heading {
              .header-colored();
            }
          }
          >.panel:not(.link-item) {
            >.panel-heading {
              .header-colored();
            }
          }
        }
      }
    }
    &.expanded {
      >.panel-heading >.panel-heading-meta {
        >.toolbar {
          opacity: 1;
        }
        >.thing-id {
          opacity: 1;
        }
      }
      >.panel-body {
        max-height: none;
        transition: 0.3s linear opacity;
        opacity: 1;
      }
    }
  }

  /********/
  /* Side view, related items
  /********/

  .side-view {
    >.panel {
      >.panel-heading {
        background-color: @neutral-color;
        h4 {
          margin: 0;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .panel-title {
        word-break:break-all;
      }
      >.panel-body {
        background-color: @dl-gray;
        >dl>dt {
          clear: both;
        }
      }
    }
  }

  /********/
  /* Footer
  /********/
  footer {
    bottom: 0px;
    width: 100%;
    .nav > li > a {
      padding: 15px 15px;
    }
    .footer-container {
      margin-top: 0px;
    }
    h1 {
      font-size: 16px;
    }
  }

  .observations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .observation-container {
      flex-basis: 8em;
      text-align: center;
      margin: 0 1% 2em 1%;
      position: relative;
      .observation-button {
        i {
          position:  absolute;
          top: 0;
          left: 0;
          font-size: 3.5em;
          padding: 0.7em;
        }
        background-color: fadeout(@brand-primary, 85%);
        border-radius: 50%;
        &:before{
          content: "";
          display: block;
          padding-top: 100%; 	/* initial ratio of 1:1*/
        }
        &:hover {
          background-color: fadeout(@brand-primary, 70%);
          > i {
            color: darken(@brand-primary, 15%);
          }
        }
      }

      > a > i {
        position: absolute;
        font-size: 2em;
        top: 100px;
        right: 0;
        color: @brand-primary;
        &:hover {
          color: darken(@brand-primary, 15%);
        }
      }
      .observation-label {
        word-break: break-all;
      }
      .observation-quantity {
        font-size: 0.8em;
        line-height: 0.8em;
      }
    }

  }



/* Body block end */
}

dl.raw-json-list {
  margin-bottom: 0px;
  dt {
    font-weight: normal;
    font-size: 12px;
  }
  &dt {
    clear: left;
    float: left;
  }
}

.toolbar {
  background-color: darken(@bg-navbar,10%);
  padding: 3px;
  height:1.5em;
  a {
    color: @grey-dark;
    &:hover, &:focus {
      transition: background-color 0.8s ease;
      color: @black;
      border-radius: 2px;
      text-decoration: none;
    }
  }
}
.toolbar-button {
  font-size: 12px;
  line-height: 12px;
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  padding: 3px 6px 3px 6px;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
  i {
    margin-right: 0.5em;
  }
}

// Marc modal

.marc-code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  code {
    font-size: 100%;
    color: @grey-very-dark;
    background-color: transparent;
    font-weight: bold;
    &.code {
      color: @grey-dark;
    }
  }
  .ind {
    font-style: italic;
  }
  td {
    vertical-align: top;
    padding: 0 3px;
  }
}

.marc-info-box {
   width: 70%;
}

@keyframes expand {
  from {
    max-height: 0px;
  }
  99% {
    max-height: 100vh;
  }
  99% {
    max-height: 100vh;
  }
  to {
    max-height: none;
  }
}
