% extends "base.html"

{% block bodyattrs %}id="${status_code}"{% endblock %}

% if status_code == 404
  % set status_msg = "Sidan kunde inte hittas"
  % set info_msg = "Detta kan bero på en felstavad URL eller en felaktig länk."
% elif status_code == 410
  % set status_msg = "Resursen är borttagen"
  % set info_msg = "Den har tidigare funnits men nu gör den inte det längre."
% endif

{% block title %}${status_code} - ${status_msg}{% endblock %}


% block content
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>${status_msg} <small>(${status_code})</small></h1>
        <p>${info_msg}</p>
        <a href="/">Tillbaka till startsidan</a>
      </div>
    </div>
  </div>
% endblock
