% extends "thing.html"

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="article"{% endblock %}

{% block title %}${thing.mainEntity.title}{% endblock %}

{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}

% block content
  <div class="panel panel-default article-text">
    <div class="panel-body container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          ${thing.mainEntity.articleBody|safe}
        </div>
      </div>
    </div>
  </div>
% endblock
