<!DOCTYPE html>
<html lang="${g.lang}" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>${g.site.title} - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    % if g.site.stylesheet
      <link rel="stylesheet" href="/assets/build/${g.site.stylesheet.name}" />
    % else
      <link rel="stylesheet" href="/assets/build/libris.css" />
    % endif
    {% block stylesheets %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    <div id="body-blocker"></div>
    <section id="oldbrowsermsg" style="display:none">
      <div>
        <h1>Din webbläsare stöds inte av tjänsten <span class="fa fa-meh-o" aria-hidden="true"></span></h1>
        <h2>Kompatibla webbläsare:</h2>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
          <li>Apple Safari</li>
          <li>Microsoft Edge</li>
          <li>Microsoft Internet Explorer (version 11)</li>
        </ul>
        <p>Kontakta oss via <a href="mailto:libris@kb.se">libris@kb.se</a> om du har några frågor.</p>
      </div>
    </section>
    % if g.site.title != 'libris.kb.se'
      {% block navigation %}
      % if g.site.stylesheet
        <header class="navbar navbar-inverse" aria-label="huvudmeny" id="main-header">
      % else
        <header class="navbar" aria-label="huvudmeny" id="main-header">
      % endif
        <div class="{% block navcontainerclass %}container{% endblock %}">
          <a id="skip-link" href="{% block skiplinktarget %}#main{% endblock %}"><span>Till innehållet</span></a>
          <div class="navbar-header" role="banner">
            <div class="navbar-brand navbar-logo">
              <a href="/">
                % if g.site.stylesheet
                  <img src="/assets/img/kb_logo_white.svg" alt="Kungliga bibliotekets logotyp">
                % else
                  <img src="/assets/img/kb_logo_black.svg" alt="Kungliga bibliotekets logotyp">
                % endif
              </a>
            </div>
            <a class="navbar-brand" href="/" title="Version ${ config.VERSION }">
              % if g.site.title == 'libris.kb.se'
                Libris katalogisering
              % else
                ${g.site.title}
              % endif
              <span class="environment-label">
                {% if config.ENVIRONMENT == 'prod' %}
                {% elif config.ENVIRONMENT %}
                  ${config.ENVIRONMENT}
                {% else %}
                  dev
                {% endif %}
              </span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks" aria-expanded="false" aria-controls="navlinks">
              <span class="sr-only">Visa eller dölj navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <nav id="navlinks" aria-label="Länkar i huvudmeny" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right" aria-labelledby="main-header">
            % for item in g.site.itemList
              <li class="navbar-item">
                <a href="${item[ID]}">
                  <div class="navbar-item-text">
                    ${item.title}
                    {% if request.path == item[ID] %}
                      <hr></hr>
                    {% endif %}
                  </div>
                </a>
              </li>
            % endfor
            % if g.site.title == 'libris.kb.se'
            <li class="navbar-item">
              <a href="/help">
                <div class="navbar-circle">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </div>
                <span class="js-translateable" data-translateable="Hjälp">Help</a></a>
            </li>
            <li class="navbar-item">
              <a href="/">
                <div class="navbar-circle">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <span class="js-translateable" data-translateable="Sök">Search</span></a>
              </li>
              % if current_user.is_authenticated
                <li v-if="initialized == true && user.getPermissions().cataloger == true" class="navbar-item">
                  <a href="/createnew">
                    <div class="navbar-circle">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <span class="js-translateable" data-translateable="Create new">Create new</span>
                  </a>
                </li>
                <li class="navbar-item user-settings">
                  <a href="/usersettings">
                    <div class="navbar-circle">
                      <img class="user-gravatar" src="${current_user.get_gravatar_url()}" />
                    </div>
                    ${current_user.get_short_name()} <span v-cloak class="sigelLabel" v-if="initialized === true">({{user.settings.activeSigel}})</span>
                  </a>
                </li>
              % else
                  <li class="navbar-item"><a href="/login">
                    <div class="navbar-circle">
                    <i class="fa fa-fw fa-sign-in"></i>
                    </div>
                    <span class="js-translateable" data-translateable="Log in">Log in</span></a>
                  </li>
              % endif
            % endif
            </ul>
          </nav>
        </div>
      </header>
      {% endblock %}
      % endif
      {% block jumbotron %}{% endblock %}
        <main class="{% block containerclass %}container{% endblock %}" id="main">
          {% block content %}{% endblock %}
        </main>
        % if g.site.title != 'libris.kb.se'
        <footer>
          % block footer
            <div class="footer-container container flex">
              <div class="service-name flex column align-center semibold">
                % if g.site.title == 'libris.kb.se'
                <img src="/assets/img/kb_logo_black.svg" class="logo-medium" alt="Kungliga biblioteket" />
                % else
                <img src="/assets/img/kb_logo_white.svg" class="logo-medium" alt="Kungliga biblioteket" />
                % endif
                <a href="http://www.kb.se">Kungliga biblioteket</a>
              </div>
              % if g.site.title == 'libris.kb.se'
              <div class="link-list">
                <div class="header" data-translateable="XL">XL</div>
                <div class="item"><a href="/about" class="js-translateable" data-translateable="About XL">About XL</a></div>
                <div class="item"><a href="https://goo.gl/forms/dPxkhMqE10RvKQFE2" class="js-translateable" data-translateable="Suggest change">Suggest change</a></div>
                <div class="item"><a href="https://goo.gl/forms/3mL7jTlEpbU3BQM13" class="js-translateable" data-translateable="Report error">Report error</a></div>
              </div>
              <div class="link-list">
                <div class="header js-translateable" data-translateable="New Libris and XL">New Libris and XL</div>
                <div class="item"><a href="https://www.youtube.com/playlist?list=PLZVkEICvA5-GRT2oJQmLgq_2Pksx6zYPy" class="js-translateable" data-translateable="Instruction videos">Instruction videos</a></div>
                <div class="item"><a href="http://librisbloggen.kb.se/" class="js-translateable" data-translateable="Librisbloggen">Librisbloggen</a></div>
                <div class="item"><a href="http://kb.se/libris/Om-LIBRIS/Introduktion-till-nya-Libris-och-XL/" class="js-translateable" data-translateable="Introduction material">Introduktionsmaterial</a></div>
                <div class="item"><a href="http://www.kb.se/libris/" class="js-translateable">kb.se/libris</a></div>
                <div class="item"><a href="https://libris.kb.se/" class="js-translateable">libris.kb.se</a></div>
              </div>
              <div class="link-list">
                <div class="header" data-translateable="Support">Support</div>
                <div class="item"><a class="js-translateable" href="http://www.kb.se/libris/kontakta/" data-translateable="Libris customer service">Libris customer service</a></div>
              </div>
              <div class="social-media">
                <div class="header js-translateable" data-translateable="Social media">Social media</div>
                <div>
                  <a href="https://www.youtube.com/user/KunglBiblioteket/"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/librisnytt/"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/LibrisNytt/"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
                </div>
              </div>
              % endif
              <div class="link-list">
                <h2>Information</h2>
                <hr class="footer-divider">
                <p><a href="/doc/about">Om id.kb.se</a></p>
                <p><a href="https://www.kb.se/digital-tillganglighet">Tillgänglighetsredogörelse</a></p>
              </div>
              <div class="link-list">
                <h2>Kontakt</h2>
                <hr class="footer-divider">
                  <p><a href="mailto:libris@kb.se">libris@kb.se</a></p>
              </div>
            </div>
          % endblock
        </footer>
        % endif
    <script src="/assets/build/idkbse.min.js" type="text/javascript"></script>

      <script type="text/javascript">
        % if g.site.title == 'libris.kb.se'
          window.userInfo = {};
          % if current_user.is_authenticated
            window.userInfo = ${current_user.get_as_json() | safe};
          % endif
        % endif
        window.siteInfo = {}
        % if g.site
          window.siteInfo.title = "${g.site.title}"
          window.siteInfo.version = "${config.VERSION}"
          window.siteInfo.piwikId = "${config.PIWIK_ID}"
        % endif
      </script>
    {% block scripts %}{% endblock %}
    <script id="serviceTitle" type="application/json">${g.site.title}</script>
    <script id="baseUriAlias" type="application/json">${config.BASE_URI_ALIAS|tojson|safe}</script>
  </body>
</html>
