<!DOCTYPE html>
<html lang="${g.lang}" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    % if g.site.title == 'libris.kb.se'
    <meta property="og:site_name" content="Libris">
    % else
    <meta property="og:site_name" content="id.kb.se">
    <meta property="og:description" content="The building blocks for linked data at the National Library of Sweden">
    <meta property="og:image" content="https://id{% if config.ENVIRONMENT != 'prod' %}-${config.ENVIRONMENT}{% endif %}.kb.se/assets/img/opengraph_id.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="twitter:image" content="https://id{% if config.ENVIRONMENT != 'prod' %}-${config.ENVIRONMENT}{% endif %}.kb.se/assets/img/opengraph_id.png">
    <meta name="twitter:card" content="summary_large_image">
    % endif
    <meta property="og:title" content="{% block title %}{% endblock %}">
    {% block meta %}
    {% endblock %}
    <title>${self.title()} | ${g.site.title}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg" />
    <link rel="alternate icon" href="/assets/img/favicon.ico">
    % if g.site.stylesheet
      <link rel="stylesheet" href="/assets/build/${g.site.stylesheet.name}" />
    % else
      <link rel="stylesheet" href="/assets/build/libris.css" />
    % endif
    {% block stylesheets %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    <div id="body-blocker"></div>
    <section id="oldbrowsermsg" style="display:none">
      <div>
        <h1>Din webbläsare stöds inte av tjänsten <span class="fa fa-meh-o" aria-hidden="true"></span></h1>
        <h2>Kompatibla webbläsare:</h2>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
          <li>Apple Safari</li>
          <li>Microsoft Edge</li>
          <li>Microsoft Internet Explorer (version 11)</li>
        </ul>
        <p>Kontakta oss via <a href="mailto:libris@kb.se">libris@kb.se</a> om du har några frågor.</p>
      </div>
    </section>
    % if g.site.title != 'libris.kb.se'
      {% block navigation %}
      % if g.site.stylesheet
        <header class="navbar navbar-inverse" aria-label="huvudmeny" id="main-header">
      % else
        <header class="navbar" aria-label="huvudmeny" id="main-header">
      % endif
        <div class="{% block navcontainerclass %}container{% endblock %}">
          <a id="skip-link" href="{% block skiplinktarget %}#main{% endblock %}"><span>Till innehållet</span></a>
          <div class="navbar-header" role="banner">
            <div class="navbar-brand navbar-logo">
              <a href="/">
                % if g.site.stylesheet
                  <img src="/assets/img/kb_logo_white.svg" alt="Kungliga bibliotekets logotyp">
                % else
                  <img src="/assets/img/kb_logo_black.svg" alt="Kungliga bibliotekets logotyp">
                % endif
              </a>
            </div>
            <a class="navbar-brand" href="/" title="Version ${ config.VERSION }">
                ${g.site.title}
              <span class="environment-label">
                {% if config.ENVIRONMENT == 'prod' %}
                {% elif config.ENVIRONMENT %}
                  ${config.ENVIRONMENT}
                {% else %}
                  dev
                {% endif %}
              </span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks" aria-expanded="false" aria-controls="navlinks">
              <span class="sr-only">Visa eller dölj navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <nav id="navlinks" aria-label="Länkar i huvudmeny" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right" aria-labelledby="main-header">
            % for item in g.site.itemList
              <li class="navbar-item">
                <a href="${item[ID]}">
                  <div class="navbar-item-text">
                    ${item.title}
                    {% if request.path == item[ID] %}
                      <hr></hr>
                    {% endif %}
                  </div>
                </a>
              </li>
            % endfor
            </ul>
          </nav>
        </div>
      </header>
      {% endblock %}
      % endif
      {% block jumbotron %}{% endblock %}
        <main class="{% block containerclass %}container{% endblock %}" id="main">
          {% block content %}{% endblock %}
        </main>
        % if g.site.title != 'libris.kb.se'
        <footer>
          % block footer
            <div class="footer-container container flex">
              <div class="service-name flex column align-center semibold">
                <img src="/assets/img/kb_logo_white.svg" class="logo-medium" alt="Kungliga biblioteket" />
                <a href="http://www.kb.se">Kungliga biblioteket</a>
              </div>
              <div class="link-list">
                <h2>Information</h2>
                <hr class="footer-divider">
                <p><a href="/doc/about">Om id.kb.se</a></p>
                <p><a href="https://www.kb.se/digital-tillganglighet">Tillgänglighetsredogörelse</a></p>
              </div>
              <div class="link-list">
                <h2>Kontakt</h2>
                <hr class="footer-divider">
                  <p><a href="mailto:libris@kb.se">libris@kb.se</a></p>
              </div>
            </div>
          % endblock
        </footer>
        % endif
    <script src="/assets/build/idkbse.min.js" type="text/javascript"></script>

      <script type="text/javascript">
        window.siteInfo = {}
        % if g.site
          window.siteInfo.title = "${g.site.title}"
          window.siteInfo.version = "${config.VERSION}"
          window.siteInfo.piwikId = "${config.PIWIK_ID}"
        % endif
      </script>
    {% block scripts %}{% endblock %}
    <script id="serviceTitle" type="application/json">${g.site.title}</script>
    <script id="baseUriAlias" type="application/json">${config.BASE_URI_ALIAS|tojson|safe}</script>
  </body>
</html>
