% extends "base.html"

% block scripts
<script src="/assets/vendor/vue/js/vue.js"></script>
% endblock

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="editor"{% endblock %}

% block content
<!DOCTYPE html>
<meta charset="utf-8" />

<div id="loadingText">
  <h1><i class="fa fa-cog fa-spin"></i> Laddar...</h1>
</div>
<div id="editorApp">
  <h1><small>Redigerar:</small><br>{{meta.prefLabel || meta['@id']}}</h1>
  <ld-table :focus="meta" :vocab="vocab" :linked="linked" :vocab-pfx="vocabPfx"></ld-table>
  <ld-table :focus="thing" :vocab="vocab" :linked="linked" :vocab-pfx="vocabPfx"></ld-table>

  <div id="result">
    <h2>JSON</h2>
    <textarea v-model="meta | json">
    </textarea>
    <textarea v-model="thing | json">
    </textarea>
    <!-- <h2>Linked</h2>
    <textarea v-model="linked | json">
    </textarea> -->
  </div>
  <hr>
  <button id="saveButton" v-on:click="saveItem()">
    <i class="fa fa-fw fa-cog fa-spin" v-show="saved.loading"></i>
    <i class="fa fa-fw fa-save" v-show="!saved.loading"></i>
    Spara
  </button>
  <span class="status-text small" v-bind:class="{'error' : saved.status.error, 'success' : !saved.status.error }" v-show="!saved.loading && saved.status.info">{{ saved.status.info }}</span>
  <hr>
</div>

<template id="ld-table">
  <ul>
    <li v-for="(k, v) in focus">
      <span class="label">
        <a href="/vocab/#{{k}}">{{ k | labelByLang | capitalize }}</a>
      </span>
      <span class="value">
        <data-node v-if="!isEmpty(v)" :key="k" :value="v" :linked="linked"></data-node>
        <link-adder v-if="isArray(v) || isEmpty(v)" :key="k" :vocab="vocab" :vocab-pfx="vocabPfx"></link-adder>
      </span>
    </li>
  </ul>
  <div class="fieldAdder">
    <h3>Lägg till fält:</h3>
    <ul>
      <li v-for="prop in allowedProperties">
        <span class="fieldLabel" title="{{prop['@id'] | labelByLang | capitalize }}">
          {{prop['@id'] | labelByLang | capitalize }}
        </span>
        <span class="typeLabel" title="{{prop['@type']}}">{{prop['@type']}}</span>
        <span class="typeLabel" title="{{prop.note}}">{{prop.note}}</span>
        <a v-on:click="addField(prop)">Lägg till <i class="fa fa-plus-circle"></i></a>
      </li>
      <li v-if="allowedProperties.length === 0">Hittade inga möjliga fält att lägga till.</li>
    </ul>
  </div>
</template>

<template id="link-adder">
<div>
  <div class="link-adder" v-on:click="show" v-on-clickaway="hide">
    <span class="add" v-show="!active">
      <i class="fa fa-plus-circle"></i> Lägg till länkad
    </span>
    <input v-show="active" type="text" v-model="keyword" debounce="500"></input>
    <br>
    <ul class="result" v-bind:class="{ 'active' : this.hitlistOpened }">
      <li v-if="result.length === 0">Inga resultat...</li>
      <li v-if="result.length > 0" v-for="item in result" track-by="$index">
        <span class="plabel"><processed-label :item="item" language="${lang}"></processed-label></span>
        <span class="id"><a href="{{ item['@id'] }}" target="_blank">{{ item["@id"] }}</a></span>
        <span class="add"><a v-on:click="add(item)">Lägg till <i class="fa fa-plus-circle"></i></a></span>
      </li>
    </ul>
  </div>

  <div class="link-adder">
    <span class="add" v-for="type in range" v-show="!active" v-on:click="addAnonymous(type)">
      <i class="fa fa-plus-circle"></i> Lägg till {{type | labelByLang | lowercase}}
    </span>
  </div>
</div>
</template>

<template id="anonymous-value">
  <li class="anonymous-value">
    <span class="class">{{value['@type'] | labelByLang }}</span>
    <i class="fa fa-close" v-on:click="removeThis()"></i>
    <ul>
      <li v-for="(k, v) in value" v-if="k !== '@type'">
        <small>{{k | labelByLang | capitalize}}</small><br>
        <input v-if="!isPlainObject(v)" v-model="v" debounce="250"></input>
        <!-- <data-node :value="v" :key="k" :index="index"></data-node> -->
        <linked-item v-else :value="v" :vocab="vocab" :linked="linked"></linked-item>
      </li>
    </ul>
  </li>
</template>

<template id="linked-item">
  <div class="linked">
    <a href="{{value['@id']}}">
      <processed-label :item="getLinked(value['@id'])" language="${lang}"></processed-label>
    </a> <i class="fa fa-close" v-on:click="removeItem($parent.key, value)"></i>
  </div>
</template>

<template id="data-node">
  <div v-if="isArray(value)">
    <ul>
      <li v-for="v in value">
        <div v-if="isPlainObject(v) && v['@id']">
          <linked-item :value="v" :vocab="vocab" :linked="linked"></linked-item>
        </div>
        <div v-if="isPlainObject(v) && !v['@id']">
          <anonymous-value :value="v" :key="key" :vocab="vocab" :linked="linked"></anonymous-value>
        </div>
        <div v-if="!isPlainObject(v)">
          <input v-el:input v-model="v" v-on:keyup="updateArray($index, v)"></input>
        </div>
      </li>
    </ul>
  </div>
  <div v-if="isPlainObject(value) && value['@id']">
    <linked-item :value="value" :vocab="vocab" :linked="linked"></linked-item>
  </div>
  <div v-if="isPlainObject(value) && !value['@id']">
    <anonymous-value :value="value" :linked="linked"></anonymous-value>
  </div>
  <div v-if="!isArray(value) && !isPlainObject(value)">
    <input v-model="value" v-on:keyup="updateValue(value)"></input>
  </div>
</template>

<script id="data" type="application/json">${data|safe}</script>
<script id="model" type="application/json">${model|safe}</script>
% endblock
