% extends "base.html"
{% from 'toolbar.html' import toolbar %}

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="editor"{% endblock %}

% block content
<!DOCTYPE html>
<meta charset="utf-8" />

<div>
  <div id="editorApp" class="panel panel-default">
    <marc-preview v-if="initialized == true"></marc-preview>
    <editor-controls v-if="initialized == true"></editor-controls>
    <header-component id="main-header" :full="true" v-if="initialized == true && !isItem"></header-component>
    <form-component editing-object="mainEntity" :locked="!status.inEdit" v-if="initialized == true"></form-component>
    <form-component editing-object="record" :locked="!status.inEdit" v-if="initialized == true"></form-component>
    <form action="/edit" method="POST" id="post-edit-form" target="_blank">
      <textarea name="data">{{newData | json}}</textarea>
    </form>
    <div v-if="relatedTitles.length > 0 && !editorData.mainEntity.hasOwnProperty('hasTitle')" class="relation-experiment">
      <span>(experiment)</span> <h3>Posten saknar titel, här är förslag</h3>
      <ul>
        <li v-for="title in relatedTitles">{{title}}</li>
      </ul>
    </div>
    <notification v-if="initialized == true"></notification>
  </div>
</div>


<script id="data" type="application/json">${thing|tojson|safe}</script>
% endblock
