% extends "base.html"

% block scripts
<script src="/assets/vendor/vue/js/vue.js"></script>
% endblock

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="editor"{% endblock %}

% block content
<!DOCTYPE html>
<meta charset="utf-8" />

<div id="loadingText">
  <h1><i class="fa fa-cog fa-spin"></i> Laddar...</h1>
</div>
<div id="editorApp">
  <h1><small>Redigerar:</small><br>{{meta.prefLabel || meta['@id']}}</h1>
  <ld-table class="meta" :item="meta" :vocab="vocab" :linked="linked"></ld-table>
  <ld-table class="thing" :item="thing" :vocab="vocab" :linked="linked"></ld-table>

  <div id="result">
    <h2>JSON</h2>
    <textarea v-model="thing | json">
    </textarea>
    <h2>Linked</h2>
    <textarea v-model="linked | json">
    </textarea>
  </div>
  <hr>
  <button id="saveButton" v-on:click="saveItem()">
    <i class="fa fa-fw fa-cog fa-spin" v-show="saved.loading"></i>
    <i class="fa fa-fw fa-save" v-show="!saved.loading"></i>
    Spara
  </button>
  <span class="status-text small" v-bind:class="{'error' : saved.status.error, 'success' : !saved.status.error }" v-show="!saved.loading && saved.status.info">{{ saved.status.info }}</span>
  <hr>
</div>

<template id="ld-table">
  <ul>
    <li v-for="(k, v) in item">
      <span class="label">
        <a href="/vocab/#{{k}}">{{ k | labelByLang | capitalize }}</a>
      </span>
      <span class="value">
        <data-node :key="k" :value="v" :index="linked"></data-node>
        <link-adder v-if="isArray(v)" :key="k" :vocab="vocab"></link-adder>
      </span>
    </li>
  </ul>
  <div>
    <h2>Allowed props:</h2>
    <ul>
      <li v-for="prop in allowedProperties">{{prop}}</li>
    </ul>
  </div>
</template>

<template id="link-adder">
<div>
  <div class="link-adder" v-on:click="show" v-on-clickaway="hide">
    <span class="add" v-show="!active">
      <i class="fa fa-plus-circle"></i> Lägg till
    </span>
    <input v-show="active" type="text" v-model="keyword" debounce="500"></input>
    <br>
    <ul class="result" v-bind:class="{ 'active' : this.hitlistOpened }">
      <li v-if="result.length === 0">Inga resultat...</li>
      <li v-if="result.length > 0" v-for="item in result" track-by="$index">
        <processed-label :item="item"></processed-label>
        <span class="id"><a href="{{ item['@id'] }}" target="_blank">{{ item["@id"] }}</a></span>
        <span class="add"><a v-on:click="add(item)">Lägg till <i class="fa fa-plus-circle"></i></a></span>
      </li>
    </ul>
  </div>
</div>
</template>

<template id="data-node">
  <template v-if="!isMarc(key)">
    <template v-if="isArray(value)">
      <li>
        <ul>
          <data-node v-for="v in value" :value="v" :key="key" :index="index"></data-node>
        </ul>
      </li>
    </template>
    <template v-if="!isArray(value) && !isPlainObject(value)">
      <li>
        <input value="{{value | json}}"></input>
      </li>
    </template>
    <template v-if="!isArray(value) && isPlainObject(value)">
      <template v-if="value.hasOwnProperty('@id')">
        <li>
          <div class="linked">
            <a href="{{value['@id']}}">
              <processed-label :item="getLinked(value['@id'])"></processed-label>
            </a> <i class="fa fa-close" v-on:click="removeItem($parent.key, value)"></i>
          </div>
        </li>
      </template>
      <template v-else>
        <li class="structured">
          <ul>
            <span v-if="label">{{key}}</span>
            <data-node v-for="v in value" :label="true" :value="v" :key="key" :index="index"></data-node>
          </ul>
        </li>
      </template>
    </template>
  </template>
  <template v-else>
    <code>{{value | json}}</code>
  </template>
</template>

<script id="data" type="application/json">${data|safe}</script>
<script id="model" type="application/json">${model|safe}</script>
% endblock
