{% extends "base.html" %}

{% block bodyattrs %}id="import"{% endblock %}


% block scripts
  <script type="text/javascript">
    window.urlArgs = {
      db: '${ request.args.get('db') }',
      {% if request.args.get('q') is not none %}
      q: '${ request.args.get('q') }',
      {% else %}
      q: '',
      {% endif %}
    };
  </script>
% endblock

% block content
{% if current_user.is_authenticated %}
  <div id="app">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9" v-if="initialized == true">
        <div class="search-type-button-container">
          <a href="/"><div class="search-type-button"><i class="fa fa-leaf"></i> Libris</div></a>
          <div class="search-type-button active"><i class="fa fa-globe"></i> Andra källor</div>
        </div>
        <remote-search></remote-search>
      </div>
    </div>
  </div>
  <help-component v-if="initialized == true" :open-all="true"></help-component>

  {% else %}
  <p>Du måste logga in.</p>
  {% endif %}
% endblock
