{% extends "base.html" %}
{% block bodyattrs %}id="login"{% endblock %}
{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="oauth-login-buttons">
            {% if msg %}
              <div class="well status-text error"><i class="icon fa fa-lg fa-warning" aria-hidden="true"></i> ${ msg }</div>
            {% endif %}
            <a href="/login/authorize" href="_target" class="btn btn-login">Logga in med Biblioteksdatabasen</a>
        </div>
        <div class="panel panel-default dash orange login-info-panel">
          <span class="circle"><i class="icon fa fa-key" aria-hidden="true"></i></span>
          <ul class="">
            <li>Godkänn autentiseringen till Biblioteksdatabasen när du loggar in.</li>
            <li>När kopplingen är genomförd skickas du tillbaka till tjänsten.</li>
            <li>Om du saknar inloggningsrättigheter kan du kontakta <a href="mailto:libris@kb.se">Libris kundservice</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
