{% extends "base.html" %}
{% block bodyattrs %}id="login"{% endblock %}
{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}
{% block content %}
<div class="auth-container panel panel-default col-sm-8 col-sm-offset-2">
  <h1>Logga in</h1>
  <p>
    För att logga in i Libris katalogiseringstjänst måste du godkänna autentiseringen i Libris Login. När kopplingen är genomförd skickas du tillbaka till Libris katalogiseringstjänst.
  </p>
  <div class="login-actions">
    <div id="oauth-login-buttons">
      {% if msg %}
      <div class="well status-text error"><i class="icon fa fa-lg fa-warning" aria-hidden="true"></i> ${ msg }</div>
      {% endif %}
      <a href="/login/authorize" href="_target" class="btn btn-info btn-login">Logga in</a>
    </div>
    <p>Saknar du inloggningsrättigheter?<br/><a href="http://www.kb.se/libris/kontakta/">Kontakta Libris kundservice</a>.</p>
  </div>
</div>

{% endblock content %}
