{% extends "base.html" %}

{% block bodyattrs %}id="logout"{% endblock %}
{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}

{% block content %}

<div class="panel panel-default ">
  <div class="panel body container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="logout-message">
        <p class="well">Du är nu utloggad ur Libris Katalogisering</p>
        </div>
        <div class="panel panel-default dash orange login-info-panel">
          <span class="circle"><i class="icon fa fa-exclamation-triangle" aria-hidden="true"></i></span>
          <ul>
            <li>Glöm inte att du fortfarande är inloggad i <a href="https://login.libris.kb.se">Libris Login</a></li>
            <li>Du kan ta bort autentiseringen genom att logga ut därifrån.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
