{% extends "base.html" %}

{% block bodyattrs %}id="logout"{% endblock %}
{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}

{% block content %}

<div class="auth-container panel panel-default col-sm-8 col-sm-offset-2">
  <h1>Du är nu utloggad från Libris katalogisering</h1>
  <p>
    Glöm inte att du fortfarande är inloggad i Libris Login. Du kan ta bort autentiseringen genom att logga ut från Libris Login.
  </p>
  <div class="login-actions">
    <div id="oauth-login-buttons">
        {% if msg %}
          <div class="well status-text error"><i class="icon fa fa-lg fa-warning" aria-hidden="true"></i> ${ msg }</div>
        {% endif %}
        <a href="https://login.libris.kb.se/" class="btn btn-info btn-login">Till Libris Login</a>
    </div>
  </div>
</div>

{% endblock content %}
