{% extends "base.html" %}

{% block bodyattrs %}id="logout"{% endblock %}
{% block wrapper %}<div class="show-content" id="page-content-wrapper"> {% endblock %}

{% block content %}

<div class="panel panel-default ">
  <div class="panel-body container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Du är nu utloggad från Libris katalogisering</h1>
        <div class="login-info-panel">
          <ul>
            <li>- Glöm inte att du fortfarande är inloggad i <a href="https://login.libris.kb.se">Libris Login</a></li>
            <li>- Du kan ta bort autentiseringen genom att logga ut från Libris Login.</li>
          </ul>
        </div>
        <div id="oauth-login-buttons">
          <a href="https://login.libris.kb.se/" class="btn btn-info btn-login">Gå till Libris Login</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
