% extends "base.html"

{% block title %}MARC-mappningar{% endblock %}

{% block bodyattrs %}class="nav-sticky" id="marcframeview"{% endblock %}

{% block containerclass %}container-fluid flex js-nav-tabs{% endblock %}
{% block navcontainerclass %} container {% endblock %}
{% block skiplinktarget %} #content-col {% endblock %}

% block scripts
% endblock

% block content
  <nav class="nav-col" id="nav-tabs">
    <ul class="nav nav-tabs semibold" role="tablist">
      % for cat, catdfn in mf.marc_categories()
        {% if cat == 'bib' %}
          <li role="presentation" class="nav-tab js-nav-tab active">
        {% else %}
          <li role="presentation" class="nav-tab js-nav-tab">
        {% endif %}
          <a href="#tabpanel-${cat}" aria-controls="tabpanel-${cat}" role="tab" data-toggle="tab" id="tab-${cat}">${cat}</a>
        </li>
      % endfor
    </ul>
    <div class="tab-content js-tab-content">
      % for cat, catdfn in mf.marc_categories()
        {% if cat == 'bib' %}
          <div role="tabpanel" class="tab-pane active" id="tabpanel-${cat}">
        {% else %}
          <div role="tabpanel" class="tab-pane" id="tabpanel-${cat}">
        {% endif %}
          <ul aria-labelledby="tab-${cat}">
            % for tag, kind, dfn in mf.fields(catdfn)
              <li>
                <a href="#${cat}-${tag}">${tag}</a>
              </li>
            % endfor
          </ul>
        </div>
      % endfor
    </div>
  </nav>

  <button class="toggle-tabs-btn js-toggle-tabs-btn btn btn-info" 
    aria-label="visa eller dölj navigation" 
    aria-controls="nav-tabs" 
    aria-expanded="false">
    <span class="fa fa-fw fa-chevron-up" aria-hidden="true"></span>
  </button>

  <div class="content-col" id="content-col">
    <div class="flex wrap justify-between align-baseline">
      <header>
        <h1>MARC-mappningar</h1>
        <p>KB/Libris mappningar av MARC till RDF-vokabulär</p>
      </header>
      <div class="toggle-all-container">
        <label class="semibold">
          <input type="checkbox" id="js-toggle-all-checkbox">
          Visa alla kodexempel</label>
      </div>
    </div>

    % for cat, catdfn in mf.marc_categories()
      <div class="cat" id="${cat}">
        <h2>${cat}</h2>
        <table class="table table-bordered table-main">
          % for tag, kind, dfn in mf.fields(catdfn)
            <tr>
              <th class="marc-tag semibold">
                <span id="${cat}-${tag}" class="marc-anchor" aria-hidden="true"></span>
                <span>${tag}</span>
              </th>
              <td class="marc-dfn">
                <div lang="en">
                  % for key in ['inherit', 'aboutType', 'link', 'addLink', 'resourceType', 'property', 'addProperty', 'i1', 'i2', 'match-i1', 'match-i2']
                    % if dfn.get(key)
                      <dl>
                        <dt class="semibold">${key}:</dt>
                        <dd>
                          ${show_value(cat, tag, key, dfn[key])}
                        </dd>
                      </dl>
                    % endif
                  % endfor
                  % if kind == 'field'
                    ${show_dfn(cat, tag, mf.codes(dfn))}
                  % elif kind == 'fixed'
                    <table class="table table-inner">
                      % for key, subdfn in sorted(dfn.items())
                        % if key[0] != '_' and not key.startswith('TODO:')
                          <tr>
                            <th class="semibold"><span id="${cat}-${tag}-${key}">
                              ${show_value(cat, tag, 'aboutType', key)}</span>
                            </th>
                            <td>
                              % if key[0].isupper() and isinstance(subdfn, dict)
                                ${show_dfn(cat, tag, sorted(subdfn.items()))}
                              % elif isinstance(subdfn, dict)
                                % for k, v in sorted(subdfn.items())
                                  <span class="italic">${k}</span>: ${show_value(cat, code, k, v)}
                                  <br />
                                % endfor
                              % else
                                  ${subdfn}
                              % endif
                            </td>
                          </tr>
                        % endif
                      % endfor
                    </table>
                  % endif
                </div>
                % if dfn._spec
                  <div class="marc-example" aria-expanded="false">
                    <button class="btn-default toggle-example-btn js-toggle-example-btn">Visa kodexempel
                      <span class="fa fa-fw fa-chevron-right" aria-hidden="true"></span>
                    </button>
                    <ul class="example-list js-example-list" aria-hidden="true" lang="en">
                      % for spec in dfn._spec
                        % if spec.source and spec.result
                          {% set example_col = 4 if spec.normalized else 6  %}
                          <li>
                            <p>Example{% if spec.name %}: <span class="italic">${spec.name}</span>{% endif %}</p>
                            <div class="row">
                              <div class="col-lg-${example_col}">
                                <h4>MARC</h4>
                                <pre><code>${pretty_json(spec.source)}</code></pre>
                              </div>
                              % if spec.normalized
                                <div class="col-lg-${example_col}">
                                  <p><span class="italic">Normalized when converted back from JSON-LD:</span></p>
                                  <pre><code>${pretty_json(spec.normalized)}</code></pre>
                                </div>
                              % endif
                              <div class="col-lg-${example_col}">
                                <h4>JSON-LD</h4>
                                <pre><code>${pretty_json(spec.result)}</code></pre>
                              </div>
                            </div>
                          </li>
                        % endif
                      % endfor
                    </ul>
                  </div>
                % endif
              </td>
            </tr>
          % endfor
        </table>
        {#% if catdfn.postProcessing
          <p>postProcessing: ${catdfn.postProcessing}</p>
        % endif#}
      </div>
    % endfor
  {#
  <section>
    <h2>Token Maps</h2>
    % for tkey, token_map in sorted(mf.data.tokenMaps.items())
      <div class="tokenmap" id="map-${tkey}">
        <h3>${tkey}</h3>
        % if isinstance(token_map, unicode)
          ${token_map}
        % else
          <select>
            % for key, term in sorted(token_map.items())
              <option>${key}: ${term}</option>
            % endfor
          </select>
        % endif
      </div>
    % endfor
  </section>
  #}
</div>
% endblock

% macro show_value(cat, tag_or_code, key, value)
  % if (key.startswith('TODO'))
  % elif (not isinstance(value, unicode) or not value.startswith(('@', '_'))
      ) and not isinstance(value, bool) and key in (
        'aboutType', 'link', 'addLink', 'property', 'addProperty', 'resourceType')
    <a href="/vocab/#${value}" class="${key}">${value}</a>
  % elif key == 'tokenMap'
    <a href="#map-${value}">${value}</a>
  % elif key == 'inherit' and value.isdigit()
    <a href="#${cat}-${value}" class="chip-marc">${cat} ${value}</a>
  % elif key == 'inherit' and ':' in value
    <a href="#${value.replace(':', '-')}" class="chip-marc">${value.replace(':', ' ')}</a>
  % elif key == 'inherit'
    <a href="#${value}-${tag_or_code}" class="chip-marc">${value} ${tag_or_code}</a>
  % elif isinstance(value, dict)
    <table class="table table-inner">
      % for key, val in sorted(value.items())
        % if not key.startswith('TODO')
          <tr>
            <th class="semibold">${key}</th>
            <td>
              % if isinstance(val, dict)
                % for k, v in sorted(val.items())
                  % if not k.startswith('TODO')
                  <span class="italic">${k}</span>: ${show_value(cat, key, k, v)}
                  <br />
                  % endif
                % endfor
              % else
                ${show_value(None, None, key, val)}
              % endif
            </td>
          </tr>
        % endif
      % endfor
    </table>
  % else
    ${value}
  % endif
% endmacro

% macro show_dfn(cat, tag, items)
  <table class="table table-inner">
    % for key, subdfn in items
      <tr>
        <th class="semibold"><span id="${cat}-${tag}-${key}">${key}</span></th>
        <td>
          % for k, v in sorted((subdfn or {'ignored': True}).items())
            % if not k.startswith('TODO') and v
            <span class="italic">${k}</span>: ${show_value(cat, key, k, v)}
              <br />
            % endif
          % endfor
        </td>
      </tr>
    % endfor
  </table>
% endmacro
