% extends "thing.html"

{% block title %}${ui.SEARCH_RESULTS.label}{% endblock %}

% macro search_controls()

<div class="col-md-3 hidden-xs hidden-sm">
  ${ facet_controls() }
</div>

<div class="col-md-9">
  <div class="panel panel-default search-controls">
    
    <form action="/find" method="GET">
      <label class="type-label">
        Välj typ
      </label>
      <div class="btn-group type-buttons" data-toggle="buttons" role="group" aria-label="Välj typ">
        <label class="btn btn-default no-choice">
          <input name="type" value="" type="radio">Alla
        </label>
      % for type in types
        <label class="btn btn-default">
          <input name="type" value="${type}" type="radio">${type}
        </label>
      % endfor
      </div>
      
      <div class="form-inline">
        <div class="form-group search-input">
          % for param, values in parse_qs(request.query_string).items()
              % if param != 'q'
                  % for value in values
                      <input type="hidden" name="${param}" value="${value}" />
                  % endfor
              % endif
          % endfor
          <label class="search-label" id="searchlabel" for="q">
            Sök term
          </label>
          <input aria-labelledby="searchlabel" class="form-control search-input" name="q" id="q" value="${thing.textQuery}" />
          <button class="search-button btn btn-primary"><i class="fa fa-search"></i> Sök</button>
        </div>
      </div>
    </form>
</div>
</div>
<div class="col-md-12 hidden-md hidden-lg">
  ${ facet_controls() }
</div>
% endmacro

% macro facet_controls()

<ul class="list-group facet-controls">
% for num in range(7)
  <li class="list-group-item">[] Facet ${num}
  % if num == 3
    <ul>
      % for subnum in range(4)
        <li>[] Subfacet ${subnum}</li>
      % endfor
    </ul>
  % endif
  </li>
% endfor
</ul>

% endmacro

% macro result_controls(details)
  <div class="panel panel-default result-controls">
    % if details
    <div class="search-details">
      <span class="search-keyword">
        % if thing.textQuery and thing.totalItems > 0
          Sökning på <i>"${thing.textQuery}"</i>
          % if thing.totalItems
            gav ${thing.totalItems} träffar.
          % endif
        % elif thing.value
          Sökning ${thing.value}
        % else
          Sökning på <i>"${thing.textQuery}"</i> gav inga träffar.
        % endif
      </span>
      <span class="search-items-per-page pull-right">
        % if thing.totalItems
        Visar resultat
          ${thing.itemOffset + 1}-${min(thing.totalItems, thing.itemOffset + len(thing['items']))}.
        % endif
      </span>
    </div>
    % endif
    
    <div class="search-buttons">
      <nav>
      <ul class="pagination">
      % if thing.first and thing.previous
      <li>
        <a href="${thing.first['@id']}">Första</a>
      </li>
      % else
      <li class="disabled">
        <a>Första</a>
      </li>
      % endif
      % if thing.previous
      <li>
        <a href="${thing.previous['@id']}">Föregående</a>
      </li>
      % else
      <li class="disabled">
        <a>Föregående</a>
      </li>
      % endif
      
      {% set limit = int(parse_qs(request.query_string).get('limit')[0]) %}
      {% set offset = int(parse_qs(request.query_string).get('offset')[0]) if parse_qs(request.query_string).get('offset') else 0 %}
      {% set pages = int(thing.totalItems / limit) + 1 %}
      % for num in range(pages)
      % if offset == limit * num
      <li class="active">
        <a>${num +1}</a>
      </li>
      % else
      <li>
        <a href="${thing.first['@id'] + '&offset=' + str(limit * num) }">${num +1}</a>
      </li>
      % endif
      % endfor
      
      % if thing.next
      <li>
        <a href="${thing.next['@id']}">Nästa</a>
      </li>
      % else
      <li class="disabled">
        <a>Nästa</a>
      </li>
      % endif
      % if thing.last and offset != limit * (pages - 1)
      <li>
        <a href="${thing.last['@id']}">Sista</a>
      </li>
      % else
      <li class="disabled">
        <a>Sista</a>
      </li>
      % endif
      </ul>
    </nav>
      
    </div>
  </div>
% endmacro

% block content
  % set items = thing['items']
<div class="row">
  
  ${ search_controls() }
  
  <div class="col-md-9">
    ${ result_controls(True) }
    % if items
    <div class="result-list">
    % for item in items
      ${viewthing(item, classes='panel panel-default hit-item', rel='items')}
    % endfor
    </div>
    % endif
    ${ result_controls(False) }
  </div>    
  </div>
</div>
% endblock
