% extends "thing.html"
% import 'search.html' as search

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="pagedcollection"{% endblock %}
{% block title %}${ui.SEARCH_RESULTS.label}{% endblock %}

% block content
% set items = thing['items']

<div id="PagedCollectionApp">
  <div class="row">
    <div class="col-md-3">
      <facet-controls></facet-controls>
    </div>
    <div class="col-md-9">
      ${ search.search_controls(thing) }
      <!-- <main-search-field :title="tjena"></main-search-field> -->
      <search-result-component :result="result" v-if="initialized == true"></search-result-component>
    </div>
  </div>
</div>

<script id="data" type="application/json">${thing|tojson|safe}</script>
% endblock
