% macro search_controls(result, typecontrols)

% if result.search

  % set q
    ${ result.search.mapping | selectattr("variable", "equalto", "q") | map(attribute='value') | first }
  % endset
  
  % set mapping = result.search.mapping

% endif

<div class="panel panel-default search-controls">
    <form action="/find" method="GET" id="searchForm">
    
      <div class="form-inline">
        <div class="form-group">
          % for param, value in request.args.items(multi=True)
            % if param != 'q'
              <input type="hidden" name="${param}" value="${value}" />
            % endif
          % endfor
          <label class="search-label" id="searchlabel" for="q">
            Sök term
          </label>
          <input aria-labelledby="searchlabel" class="form-control search-input" name="q" id="searchQ" value="${q | safe | trim }" />
          <button id="searchSubmit" class="search-button btn btn-primary"><i class="fa fa-search"></i> Sök</button>
        </div>
      </div>

% if typecontrols
  <div class="type-buttons" aria-label="Välj typ">
    <label class="no-choice">
      <input name="inScheme.@id" id="noneType" value="" type="radio"> Alla
    </label>
    % if len(result.statistics) > 0
      % for value in result.statistics.sliceByDimension.values()
        % for obs in value.observation
          <label class="">
            <input name="inScheme.@id" value="${obs.object['@id']}" type="radio">
            % if obs.object.titleByLang
              ${obs.object.titleByLang['sv']}
            % elif obs.object.label
              ${obs.object.label}
            % elif obs.object.notation
              ${obs.object.notation|join(', ')}
            % endif
          </label>
        % endfor
      % endfor
    % endif
  </div>
% endif

% if len(mapping) > 1
<div class="activated-facets">
  <label>
    Aktiv filtrering
  </label>
  <ul>
  % for item in mapping
    % if item.variable != 'q'
    <li>
      <a href="${item.up['@id']}" title="${item.object['@id']}">
        ${item.object['@id']}<i class="fa fa-remove"></i>
      </a>
    </li>
    % endif
  % endfor
  </ul>
</div>
% endif

  </form>
</div>
% endmacro

% macro result_controls(result, details)
  
  % set items = result['items']
  % set search = result['search']
  % set mapping = search.mapping
  
  % set q
    ${ mapping | selectattr("variable", "equalto", "q") | map(attribute='value') | first }
  % endset
    
  <div class="panel panel-default result-controls">    
    % if details
    <div class="search-details">
      <span class="search-keyword">
        % if q and result.totalItems > 0
          Sökning på <i>"${q | safe | trim}"</i>
          % if result.totalItems
            gav ${result.totalItems} träffar.
          % endif
        % elif result.value
          Sökning ${result.value}
        % else
          Sökning på <i>"${q | safe | trim}"</i> gav inga träffar.
        % endif
      </span>
      <span class="search-items-per-page pull-right">
        % if result.totalItems
        Visar resultat
          ${result.itemOffset + 1}-${min(result.totalItems, result.itemOffset + len(items))}.
        % endif
      </span>
    </div>
    % endif
    
    <div class="search-buttons">
      <nav>
      <ul class="pagination">
      % if result.first and result.previous
      <li>
        <a href="${result.first['@id']}">Första</a>
      </li>
      % else
      <li class="disabled">
        <a>Första</a>
      </li>
      % endif
      % if result.previous
      <li>
        <a href="${result.previous['@id']}">Föregående</a>
      </li>
      % else
      <li class="disabled">
        <a>Föregående</a>
      </li>
      % endif
      
      % set limit = int(request.args.get('limit')) if request.args.get('limit') else int(200)
      % set offset = result.itemOffset
      
      % if result.totalItems
        % set pages = int(result.totalItems / limit) + 1
      % else
        % set pages = 1
      % endif
      
      % for num in range(pages)
      % if offset == limit * num
      <li class="active">
        <a>${num +1}</a>
      </li>
      % else
      <li>
        <a href="${result.first['@id'] + '&offset=' + str(limit * num) }">${num +1}</a>
      </li>
      % endif
      % endfor
      
      % if result.next
      <li>
        <a href="${result.next['@id']}">Nästa</a>
      </li>
      % else
      <li class="disabled">
        <a>Nästa</a>
      </li>
      % endif
      % if result.last and result.next
      <li>
        <a href="${result.last['@id']}">Sista</a>
      </li>
      % else
      <li class="disabled">
        <a>Sista</a>
      </li>
      % endif
      </ul>
    </nav>
      
    </div>
  </div>
% endmacro

% macro facet_controls(result)
  <div>
  % if result['stats']
  % set stats = result['stats']
  % set mapping = result.search['mapping']
  <label>
    Filtrera
  </label>
  <ul>
    % for observation in stats.sliceByDimension['@type'].observation
    % if observation.object.label
    <li>
      <a href="${observation.view['@id']}" title="${observation.object.label}">
        ${observation.object.label | truncate(20, true) }
      </a>
      <span class="quantity">(${observation.totalItems})</span>
    </li>
    % endif
    % endfor
  </ul>
  % else
    Inga facetter...
  % endif
  </div>
% endmacro
