% from "termutils.html" import vocab_term

% macro search_controls(result, filter_param=None)

% if result.search

  % set q
    ${ result.search.mapping | selectattr("variable", "equalto", "q") | map(attribute='value') | first }
  % endset

  % set mapping = result.search.mapping

% endif

% set vocab_url = 'https://id.kb.se/vocab/'
<div class="row">
  <div class="search-controls col-md-10 col-lg-8">
      <form action="/find" method="GET" id="searchForm">

        <div class="form">
          <div class="form-group">
            % for param, value in request.args.items(multi=True)
              % if param != 'q'
                <input type="hidden" name="${param}" value="${value}" />
              % endif
            % endfor

            <div id="searchFieldContainer" class="searchFieldContainer flex">
              <span class="fa fa-search" aria-hidden="true"></span>
              <input type="search" aria-labelledby="searchSubmit" class="form-control search-input tagInput" name="q" id="searchQ" value="${q | safe | trim }" autofocus></input>
              <button id="searchSubmit" class="search-button btn btn-primary">Sök</button>
            </div>
          </div>
        </div>

      % if filter_param
        <fieldset class="type-buttons">
          <legend class="sr-only">Välj typ</legend>
          % if result.statistics and len(result.statistics) > 0
            % for value in result.statistics.sliceByDimension.values()
              % for obs in value.observation
                <label class="checkbox-inline semibold">
                  <input name="${filter_param}" value="${obs.object['curie'] or obs.object['@id'].replace(vocab_url, '')}" type="checkbox" checked>
                  % if obs.object.titleByLang
                    ${obs.object.titleByLang['sv']}
                  % elif obs.object.label
                    ${obs.object.label}
                  % elif obs.object.notation
                    ${obs.object.notation|join(', ')}
                  % else
                    ${obs.object['@id'].replace(vocab_url, '')}
                  % endif
                </label>
              % endfor
            % endfor
          % endif
        </fieldset>
      % endif

    </form>
  </div>
</div>
% if len(mapping) > 1
  <div class="activated-facets">
    <p class="facet-label" id="facet-label">
      Vald filtrering:
    </p>
    <ul class="list-unstyled" aria-labelledby="facet-label">
    % for item in mapping
      % if item.variable != 'q'
      <li>
        % if item.object
          % set label = item.object['@id']
        % else
          % set label = item.value
        % endif
          <a href="${item.up['@id']}" class="activated-facet semibold" title="Ta bort filter" aria-label="Ta bort filter ${vocab_term(label)}">
          ${vocab_term(label)}
          <span class="fa fa-fw fa-times-circle" aria-hidden="true"></span>
        </a>
      </li>
      % endif
    % endfor
    </ul>
  </div>
% endif
% endmacro

% macro result_controls(result, details, align)

  % set items = result['items']
  % set search = result['search']
  % set mapping = search.mapping

  % set q
    ${ mapping | selectattr("variable", "equalto", "q") | map(attribute='value') | first }
  % endset

  <div class="result-controls flex wrap align-center justify-between">
    <h1 class="sr-only">Sökresultat</h1>
    % if details
    <div class="search-details">
      <p class="search-keyword semibold">
        % if q and result.totalItems and result.totalItems > 0
          Visar ${result.itemOffset + 1}-${min(result.totalItems, result.itemOffset + len(items))} av ${result.totalItems} träffar
        % elif result.value
          Sökning ${result.value}
        % else
          Sökning på <span class="query">'${q | safe | trim}'</span> gav inga träffar.
        % endif
      </p>
    </div>
    % endif

    % if result.totalItems > 0 and (result.previous or result.next)
    <div class="search-buttons">
      <nav aria-label="Paginering ${align}" id="pagination-${align}">
        <ul class="pagination" aria-labelledby="pagination-${align}">
          % if result.first and result.previous
          <li>
            <a aria-label="Första" href="${result.first['@id']}">
              <span class="fa fa-angle-double-left"></span>
              <span class="hidden-xs" aria-hidden="true">Första</span></a>
          </li>
          % else
          <li class="disabled">
            <a aria-label="Första" aria-disabled="true">
              <span class="fa fa-angle-double-left"></span>
              <span class="hidden-xs" aria-hidden="true">Första</span></a>
          </li>
          % endif
          % if result.previous
          <li>
            <a href="${result.previous['@id']}" aria-label="Föregående">
              <span class="fa fa-angle-left"></span>
              <span class="hidden-xs" aria-hidden="true">Föregående</span></a>
          </li>
          % else
          <li class="disabled">
            <a aria-label="Föregående" aria-disabled="true">
              <span class="fa fa-angle-left"></span>
              <span class="hidden-xs" aria-hidden="true">Föregående</span></a>
          </li>
          % endif

          % set limit = int(request.args.get('limit')) if request.args.get('limit') else int(200)
          % set offset = result.itemOffset

          % if result.totalItems
            % set pages = int(result.totalItems / limit) + 1
          % else
            % set pages = 1
          % endif

          % set currentpage = int(offset / limit)
          % set paddedpages = 4

          % if currentpage < paddedpages
            % set paddedpages = paddedpages + (paddedpages - currentpage - 1)
          % elif currentpage + paddedpages > pages
            % set paddedpages = paddedpages + (currentpage + paddedpages - pages)
          % endif

          % if currentpage - paddedpages > -1
          <li>
            <a>..</a>
          </li>
          % endif

          % for num in range(pages)
            % if (num == currentpage) or (num == pages) or (num < currentpage and (num - currentpage) > -paddedpages) or (num > currentpage and (num - currentpage) < paddedpages)

              % if currentpage == num
                <li class="active">
                  <a>${num +1}</a>
                </li>
              % else
              <li>
                <a href="${result.first['@id'] + '&_offset=' + str(limit * num) }">${num +1}</a>
              </li>
              % endif
            % endif
          % endfor

          % if currentpage + paddedpages < (pages)
          <li>
            <a>..</a>
          </li>
          % endif

          % if result.next
          <li>
            <a href="${result.next['@id']}" aria-label="Nästa">
              <span class="hidden-xs" aria-hidden="true">Nästa</span>
              <span class="fa fa-angle-right"></span></a>
          </li>
          % else
          <li class="disabled">
            <a aria-label="Nästa" aria-disabled="true">
              <span class="hidden-xs" aria-hidden="true">Nästa</span>
              <span class="fa fa-angle-right"></span></a>
          </li>
          % endif
          % if result.last and result.next
          <li>
            <a href="${result.last['@id']}" aria-label="Sista">
              <span class="hidden-xs" aria-hidden="true">Sista</span>
              <span class="fa fa-angle-double-right"></span></a>
          </li>
          % else
          <li class="disabled">
            <a aria-label="Sista" aria-disabled="true">
              <span class="hidden-xs" aria-hidden="true">Sista</span>
              <span class="fa fa-angle-double-right"></span></a>
          </li>
          % endif
        </ul>
    </nav>
    </div>
    % endif
  </div>
% endmacro

% macro facet_controls(result, ui)
  <div>
  % if result['stats']
  % set stats = result['stats']
  % set mapping = result.search['mapping']
  <label>
    Filtrera
  </label>
  % set facet_labels = ui['FACET_LABELS']
  % for dimension in stats.sliceByDimension
  % set value = stats.sliceByDimension[dimension]
  % set dimension_prop = value.dimension
  % set swedish_label = facet_labels[dimension_prop]
  <div class="dimension-header">${swedish_label}</div>
  <ul>

    % for observation in stats.sliceByDimension[dimension].observation
    % if observation.object.label
    <li>
      <a href="${observation.view['@id']}" title="${observation.object.label}">
        ${vocab_term(observation.object.label)}
      </a>
      <span class="quantity">(${observation.totalItems})</span>
    </li>
    % elif observation.object.prefLabelByLang and observation.object.prefLabelByLang.sv
    <li>
      <a href="${observation.view['@id']}" title="${observation.object.prefLabelByLang.sv}">
        % if isinstance(observation.object.prefLabelByLang.sv, list)
          ${observation.object.prefLabelByLang.sv | join(', ') | truncate(30, true) }
        % else
          ${observation.object.prefLabelByLang.sv | truncate(30, true) }
        % endif
      </a>
      <span class="quantity">(${observation.totalItems})</span>
    </li>
    % elif observation.object.labelByLang and observation.object.labelByLang.sv
    <li>
      <a href="${observation.view['@id']}" title="${observation.object.labelByLang.sv}">
        % if isinstance(observation.object.labelByLang.sv, list)
          ${observation.object.labelByLang.sv | join(', ') | truncate(30, true) }
        % else
          ${observation.object.labelByLang.sv | truncate(30, true) }
        % endif
      </a>
      <span class="quantity">(${observation.totalItems})</span>
    </li>
    % endif
    % endfor
  </ul>
  % endfor
  % else
    Inga facetter tillgängliga.
  % endif
  </div>
% endmacro
