% extends "base.html"

{% block title %}${vocab.labelgetter(thing)}{% endblock %}

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="thing"{% endblock %}
{% block navcontainerclass %} container {% endblock %}

% block scripts

% endblock

% block content
  <div class="row">
    <div class="col-md-9">
      ${viewthing(thing, element='article', classes='panel panel-default main-item')}
    </div>
    % if not rel and thing[REVERSE]
      <div class="col-md-3 side-view">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>${ui[REVERSE].label}</h4>
          </div>
          <div class="panel-body">
            <p>
              <a href="${url_for('.find', o=thing[ID], limit=page_limit)}">${ui.SEE_ALL.label}&hellip;</a>
            </p>
            <dl resource="${thing[ID]}">
              % for k, vs in thing[REVERSE].items()
                % set p = vocab.index[k] or {'curie': k}
                <dt>Med relation: ${termref(p)}</dt>
                <dd>
                  % for v in vs
                      ${viewthing(v, rev=p.curie)}
                    % endfor
                  </dd>
                  % endfor
                </dl>
          </div>
        </div>
      </div>
    % endif
  </div>
% endblock

% macro viewthing(thing, element='div', classes='panel panel-default', rel=None, rev=None)
  % set thing_id = thing[ID]
  % set canonical_id = canonical_uri(thing)
  % set typename = thing[TYPE]
  % if isinstance(typename, list)
    % set t = vocab.index[typename[0]] or vocab.index[typename[1]] or {}
  % else
    % set t = vocab.index[typename] or {}
  % endif
  % set as_chip = rev or (rel and 'quotedFromGraph' in thing or len(thing) < 2)
  <${element} class="${classes}{% if as_chip%} link-item{% endif %}"

      {% if rel %} property="${rel}"{% endif %}
      {% if rev %} rev="${rev}"{% endif %}
      {% if ID in thing %} resource="${canonical_id}"{% endif %}
      {% if t.curie %} typeof="${t.curie}"{% endif %}>

    % if ID in thing
    % set thing_url = view_url(canonical_id)
    % if t
      ${termref(t, classes='', labeltype='label-class')}
    % endif
      % if current_user.is_authenticated and t.curie == 'Record'
      <div class="toolbar">
          <a class="toolbar-button" href="${thing_url}/hld"><i class="fa fa-plus"></i>Lägg på Bestånd</a>
          <span class="toolbar-button"><i class="fa fa-remove" aria-hidden="true"></i>Ta bort post</span>
          % if element == 'article'
          <span class="toolbar-button"><i class="fa fa-list-alt" aria-hidden="true"></i>Förhandsgranska Marc</span>
          <a class="toolbar-button" href="${thing_url}/edit"><i class="fa fa-pencil"></i>Redigera</a>
          % endif
      </div>
      % endif
      <header class="panel-heading">
        <div class="panel-heading-meta">

          <a href="" class="toolbar-button id-label">
            <i class="fa fa-share" aria-hidden="true"></i> ${canonical_id}
          </a>

        </div>
        <h1 class="panel-title">
          % if rel == 'items'
          <div class='expand-button'><i class='fa rotate fa-plus-circle'></i></div>
          % endif
          <a href="${thing_url}" class="thing-label">
            % set label = ldview.getlabel(thing)
            % if isinstance(label, basestring)
              ${label}
            % else
              {# label is sometimes an object, resolve this in a propper way when data content is known #}
              ${jsonToList(label)}
            % endif
          </a>
        </h1>
      </header>
    % endif

    % if not as_chip
      <div class="panel-body">
        <dl class="{% if not rel %}dl-horizontal{% endif %}">
          % for k in vocab.sortedkeys(thing)
            % set v = thing[k]
            % if (k in vocab.index or k != REVERSE)
              % set p = vocab.index[k] or {'curie': k}
              {% if loop.index > 1 %}<hr/>{% endif %}
              <dt>
                ${termref(p)}
              </dt>
              <dd>
                % if k == ID and v[0] != '_'
                  <a href="${view_url(v)}">&lt;${v}&gt;</a>
                % elif isinstance(v, dict) and len(v) > 1
                  ${viewthing(v, rel=k)}
                % elif isinstance(v, list)
                  <ul>
                    % for sub in v
                      <li>
                        % if isinstance(sub, dict)
                          ${viewthing(sub, rel=k)}
                        % else
                        <span {% if p.curie %} property="${p.curie}"{% endif %}>${sub}</span>
                        % endif
                      </li>
                    % endfor
                  </ul>
                % else
                  <span {% if p.curie %} property="${p.curie}"{% endif %}>${v}</span>
                % endif
              </dd>
            % endif
          % endfor

        </dl>
      </div>
    % endif

  </${element}>
% endmacro

% macro termref(term, classes='', labeltype='')
  % set label = term.curie
  % if term.label
    % set label = term.label[0].upper() + term.label[1:]
  % endif
  % if term.curie
    <a href="/vocab/#${term.curie}" class="${labeltype}"><span
        class="${classes}">${label}</span></a>
  % elif term.label
    ${label}
  % else
    <code>${term.curie}</code>
  % endif
% endmacro

{# Macro to render random json to a html list #}
% macro jsonToList(json)
  % if isinstance(value, basestring)
    ${json}
  % else
    % for key, value in json.items()
      <dl class="raw-json-list">
      % if isinstance(value, dict)
        <dt>
          ${key}
        </dt>
        <dd>
          ${jsonToList(value)}
        </dd>
      % elif isinstance(value, list)
        <dt>
          ${key}
        </dt>
        <dd>
          % for sub in value
            ${sub}
          % endfor
        </dd>
      % else
        <dt>${key}</dt><dd>${value}</dd>
      % endif
      </dl>
    % endfor
  %endif
% endmacro

% block footer
  <nav class="navbar navbar-default" role="navigation">
    <p class="navbar-text">Other formats:</p>
    <ul class="nav nav-pills">
      <li>
        <a href="${data_url('jsonld')}">JSON-LD</a>
      </li>
      <li>
        <a href="${data_url('ttl')}">Turtle</a>
      </li>
      <li>
        <a href="${data_url('rdf')}">RDF/XML</a>
      </li>
    </ul>
  </nav>
% endblock
