% extends "base.html"
{% from 'toolbar.html' import toolbar_old %}
{% from 'toolbar.html' import toolbar %}

{% block title %}${vocab.get_label_for(thing)}{% endblock %}

{% block bodyattrs %}vocab="${config.VOCAB_IRI}" id="thing"{% endblock %}
{% block navcontainerclass %} container {% endblock %}

% block scripts

% endblock

% block content
<div class="row">
  <div class="col-md-9">
    ${thing_full(thing)}
  </div>
  <div class="col-md-3">
    <div>
      Inversrelationer...
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-9">
    ${viewthing(thing, element='article', classes='panel panel-default main-item')}
  </div>
  % if not rel and thing[REVERSE]
    <div class="col-md-3 side-view">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>${ui[REVERSE].label}</h4>
        </div>
        <div class="panel-body">
          <p>
            <a href="${url_for('.find', o=thing[ID], limit=page_limit)}">${ui.SEE_ALL.label}&hellip;</a>
          </p>
          <dl resource="${thing[ID]}">
            % for k, vs in thing[REVERSE].items()
              % set p = vocab.index[k] or {'curie': k}
              <dt>Med relation: ${termref(p)}</dt>
              <dd>
                % for v in vs
                    ${viewthing(v, rev=p.curie)}
                  % endfor
                </dd>
                % endfor
              </dl>
        </div>
      </div>
    </div>
  % endif
</div>
% endblock

% macro thing_full(thing)
<div class="thing thing-full">
  ${toolbar(thing, current_user.is_authenticated)}
  <div class="header">
    <h1>${vocab.get_label_for(thing)}</h1>
  </div>
  <div class="body">
    ${ thing_data_list(thing['mainEntity']) }
  </div>
</div>

% endmacro

% macro thing_list_item(thing)
<div class="thing thing-list-item">
  <div class="header">
    <span class="expand-button"><i class='fa fa-chevron-right'></i></span>
    <span class="title"><a href="${thing[ID]}">${vocab.get_label_for(thing)}</a></span>
    <span class="class">${thing[TYPE]}</span>
  </div>
  <div class="body">
    ${thing_data_list(thing)}
  </div>
</div>
% endmacro

% macro thing_data_list(thing)

% set node = thing
% for k in vocab.sortedkeys(node)
% set v = node[k]
% set expandedProp = 'instanceOf'
<div class="data-node rows">
  <div class="key">${vocab_term(k)}</div>
  <div class="value node-list">
    % if isinstance(v, list)
    <ul>
      % for sub in v
        <li>
          % if isinstance(sub, dict)
            % if sub == expandedProp
              ${thing_card(sub, True)}
            % else
              ${thing_chip(sub)}
            % endif
          % else
            ${thing_value(sub)}
          % endif
        </li>
      % endfor
    </ul>
    % elif isinstance(v, dict)
      % if k == expandedProp
        ${thing_card(v, True)}
      % else
        ${thing_chip(v)}
      % endif
    % else
      ${thing_value(v)}
    % endif
  </div>
</div>
% endfor
% endmacro

% macro thing_value(object)
<div class="item-value">
  <span>${object}</span>
</div>
% endmacro

% macro thing_card(object, expanded = False)

% if expanded
<div class="card-info-container expanded">
% else
<div class="card-info-container floating card-hidden">
% endif
  <div class="card">
    <div class="header">
      <span class="title">
        <a href="${object[ID]}">${vocab.get_label_for(object)}</a>
      </span>
      <span class="type">
        ${object[TYPE]}
      </span>
    </div>
    <ul class="card-data">
      % set node = object
      % for k in vocab.sortedkeys(node)
      % set v = node[k]
      <li>
        <span class="key">${vocab_term(k)}</span>
          % if isinstance(v, dict) and len(v) > 1
            <span class="value">
              ${thing_chip(v)}
            </span>
          % elif isinstance(v, list)
            <ul class="value">
              % for sub in v
                <li class="card-data-value-row">
                  % if isinstance(sub, dict)
                    ${thing_chip(sub)}
                  % else
                  <span>${sub}</span>
                  % endif
                </li>
              % endfor
            </ul>
          % else
            <span class="value">${v}</span>
          % endif
      </li>
      % endfor
    </ul>
  </div>
</div>
% endmacro

% macro thing_chip(object)
<div class="chip-container">
  <div class="chip">
    <span class="chip-label">${vocab.get_label_for(object)}</span>
  </div>
  ${thing_card(object)}
</div>
% endmacro

% macro thing_embedded(object)
<div class="item-embedded">
  <b>${object[TYPE]}</b>
  <hr>
  <ul>
    % for k,v in object.items()
    <li>
      ${vocab_term(k)}: ${v}
    </li>
    % endfor
  </ul>
</div>
% endmacro

% macro vocab_term(k)
% set p = vocab.index[k] or {'curie': k}
  ${termref(p)}
% endmacro

% macro displayvalues(object)
  % for value in object.values()
    % if isinstance(value, dict)
      ${value} ++++
    % else
      ${ value }
    % endif
  % endfor
% endmacro

% macro viewthing(thing, element='div', classes='panel panel-default', rel=None, rev=None)
  % set thing_id = thing[ID]
  % set typename = thing[TYPE]
  % if isinstance(typename, list)
    % set t = vocab.index[typename[0]] or vocab.index[typename[1]] or {}
  % else
    % set t = vocab.index[typename] or {}
  % endif
  % set as_chip = rev or (rel and 'quotedFromGraph' in thing or len(thing) < 2)
  <${element} class="${classes}{% if as_chip%} link-item{% endif %}"

      {% if rel %} property="${rel}"{% endif %}
      {% if rev %} rev="${rev}"{% endif %}
      {% if ID in thing %} resource="${thing_id}"{% endif %}
      {% if t.curie %} typeof="${t.curie}"{% endif %}>

    % if ID in thing
      % set thing_url = view_url(thing_id)
      ${toolbar_old(thing_url, current_user.is_authenticated, typename, element)}

      <header class="panel-heading">
        <div class="panel-heading-meta">
          % if t
            ${termref(t, classes='', labeltype='label-class')}
          % endif
          <a href="" class="toolbar-button id-label thing-id">
             <small><code>${thing_id}</code></small>
          </a>


        </div>
        <h1 class="panel-title">
          % if rel == 'items'
          <div class='expand-button'><i class='fa rotate fa-plus-circle'></i></div>
          % endif
          <a href="${thing_url}" class="thing-label">
            % set label = vocab.get_label_for(thing)
            % if isinstance(label, basestring)
              ${label}
            % else
              {# label is sometimes an object, resolve this in a propper way when data content is known #}
              ${jsonToList(label)}
            % endif
          </a>
        </h1>
      </header>
    % endif

    % if not as_chip
      <div class="panel-body">
        <dl class="{% if not rel %}dl-horizontal{% endif %}">
          % for k in vocab.sortedkeys(thing)
            % set v = thing[k]
            % if (k in vocab.index or k != REVERSE)
              % set p = vocab.index[k] or {'curie': k}
              {% if loop.index > 1 %}<hr/>{% endif %}
              <dt>
                ${termref(p)}
              </dt>
              <dd>
                % if k == ID and v[0] != '_'
                  <a href="${view_url(v)}">&lt;${v}&gt;</a>
                % elif isinstance(v, dict) and len(v) > 1
                  ${viewthing(v, rel=k)}
                % elif isinstance(v, list)
                  <ul>
                    % for sub in v
                      <li>
                        % if isinstance(sub, dict)
                          ${viewthing(sub, rel=k)}
                        % else
                        <span {% if p.curie %} property="${p.curie}"{% endif %}>${sub}</span>
                        % endif
                      </li>
                    % endfor
                  </ul>
                % else
                  <span {% if p.curie %} property="${p.curie}"{% endif %}>${v}</span>
                % endif
              </dd>
            % endif
          % endfor

        </dl>
      </div>
    % endif

  </${element}>
% endmacro

% macro termref(term, classes='', labeltype='')
  % set label = term.curie
  % if term.label
    % set label = term.label[0].upper() + term.label[1:]
  % endif
  % if term.curie
    <a href="/vocab/#${term.curie}" class="${labeltype}"><span
        class="${classes}">${label}</span></a>
  % elif term.label
    ${label}
  % else
    <code>${term.curie}</code>
  % endif
% endmacro

{# Macro to render random json to a html list #}
% macro jsonToList(json)
  % if isinstance(value, basestring)
    ${json}
  % else
    % for key, value in json.items()
      <dl class="raw-json-list">
      % if isinstance(value, dict)
        <dt>
          ${key}
        </dt>
        <dd>
          ${jsonToList(value)}
        </dd>
      % elif isinstance(value, list)
        <dt>
          ${key}
        </dt>
        <dd>
          % for sub in value
            ${sub}
          % endfor
        </dd>
      % else
        <dt>${key}</dt><dd>${value}</dd>
      % endif
      </dl>
    % endfor
  %endif
% endmacro

% block footer
  <nav class="navbar navbar-default navbar-formats" role="navigation">
    <p class="navbar-text">Other formats:</p>
    <ul class="nav nav-pills">
      <li>
        <a href="${data_url('jsonld')}">JSON-LD</a>
      </li>
      <li>
        <a href="${data_url('ttl')}">Turtle</a>
      </li>
      <li>
        <a href="${data_url('rdf')}">RDF/XML</a>
      </li>
    </ul>
  </nav>
% endblock
