{% extends "base.html" %}

{% block bodyattrs %}id="usersettings"{% endblock %}

{% block content %}
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class=col-md-4>
          <p>Information om användarnamn, e-post etc. ändrar du i biblioteksdatabasen.</p>
          <p>Vid frågor om rättigheter för sigel kontakta <a href="mailto:libris@kb.se">libris@kb.se</a>.<p>
        </div>
        <div class="col-md-8 panel panel-default">
          {% if current_user.is_authenticated %}
            <div><code>${current_user.get().authorization|tojson|safe}</code></div>
          {% endif %}
          <h1>Mina inställningar</h1>
          <form>
            <div class="panel-body form-group dash orange">
              <span class="circle"><i class="icon fa fa-cogs" aria-hidden="true"></i></span>

              <label for="username" class="label">Användarnamn</label>
              <p>${current_user.get().username}</p></li>
            <label for="switchLocation" class="label">Ändra aktivt sigel</label>
            <select multiple class="form-control" id=switchLocation>
              <option>SEK - Kungliga biblioteket</option>
              <option>S - Kungliga biblioteket</option>
              <option>NB - Kungliga biblioteket</option>
              <option>DIGI - Kungliga biblioteket</option>
              <option>MIMER - Kungliga biblioteket</option>
              <option>ETC...</option>
            </select>
            </div>
          <button type="submit" class="btn btn-default">Växla sigel</button>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
