% extends "base.html"

{% block title %}${voc.label(voc.vocab, lang=LANG)}{% endblock %}

{% block bodyattrs %}class="nav-sticky" id="vocab"{% endblock %}

{% block containerclass %}container-fluid flex js-nav-tabs{% endblock %}
{% block navcontainerclass %} container {% endblock %}
{% block skiplinktarget %} #content-col {% endblock %}

% set DOMAIN = union(SCHEMA.domainIncludes, RDFS.domain)
% set RANGE = union(SCHEMA.rangeIncludes, RDFS.range)



% block content
  <nav class="nav-col" id="nav-tabs" lang="en">
    <ul class="nav nav-tabs semibold" role="tablist">
      <li role="presentation" class="nav-tab js-nav-tab active">
        <a href="#tabpanel-classes" aria-controls="tabpanel-classes" role="tab" data-toggle="tab" id="tab-classes">Classes</a>
      </li>
      <li role="presentation" class="nav-tab js-nav-tab">
        <a href="#tabpanel-props" aria-controls="tabpanel-props" role="tab" data-toggle="tab" id="tab-props">Properties</a>
      </li>
    </ul>
    <div class="tab-content js-tab-content">
      <div role="tabpanel" class="tab-pane active" id="tabpanel-classes">
        <ul class="list-unstyled" aria-labelledby="tab-classes">
          % for rclass in voc.classes
            <li>
              <a href="${link(rclass)}">${rclass.qname()}</a>
            </li>
          % endfor
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabpanel-props">
        <ul class="list-unstyled" aria-labelledby="tab-props">
          % for rprop in voc.properties
            <li>
              <a href="${link(rprop)}">${rprop.qname()}</a>
            </li>
          % endfor
        </ul>
      </div>
    </div>
  </nav>

  <button class="toggle-tabs-btn js-toggle-tabs-btn btn btn-info" 
    aria-label="visa eller dölj navigation" 
    aria-controls="nav-tabs" 
    aria-expanded="false">
    <span class="fa fa-fw fa-chevron-up" aria-hidden="true"></span>
  </button>
  
  <div class="content-col flex column" id="content-col">
    <header>
    % for vocab in voc.vocabs
      <h1>
          ${voc.label(voc.resource(vocab)) or "&lt;%s>" % vocab}
      </h1>
      <p>${voc.value(voc.resource(vocab), union(DCTERMS.description, RDFS.comment))}</p>
    % endfor
    </header>

    <section>
      <h2>Classes</h2>
      % for rclass in voc.classes
        ${classdefinition(rclass)}
      % endfor
    </section>

    <section>
      <h2>Properties</h2>
      % for rprop in voc.properties
        ${propertydefinition(rprop)}
      % endfor
    </section>
  </div>
% endblock

% macro classdefinition(rclass)
  <article class="panel panel-default rdf-class" aria-label="${rclass.qname()}">
    <span id="${rclass.qname()}" class="vocab-anchor class-anchor" aria-hidden="true"></span>
    <header class="panel-heading">
      <h3 class="panel-title ${rclass.value(VS.term_status)}" lang="en">${rclass.qname()}</h3>
    </header>
    <div class="panel-body">
      ${terminfo(rclass, "...")}
      <dl>
        ${itemsblock(rclass.objects(OWL.equivalentClass), "Equivalent classes", 'rdf-baseclasses', True)}
        ${itemsblock(rclass.objects(RDFS.subClassOf), "Base classes", 'rdf-baseclasses')}
        ${itemsblock(rclass.subjects(RDFS.subClassOf), "Subclasses", 'rdf-subclasses')}
        % set props = sorted(set(rclass.subjects(DOMAIN)))
        % if props
          <dt lang="en">Properties</dt>
          <dd>
            <ul class="list-unstyled">
              % for prop in props
              <li class="${listclass(prop)}">
                <a href="${link(prop)}" class="chip-prop" lang="en">${prop.qname()}</a>
                % if prop.value(SKOS.notation)
                <span>(${prop.value(SKOS.notation)})</span>
                % endif
                <span class="italic">${(voc.label(prop) or '')}</span>
                % set ranges = sorted(set(voc.find_references(prop.objects(RANGE))))
                % if ranges
                  <span>&rarr;
                    % for c in ranges
                      <a href="${link(c)}" class="chip-class" lang="en">${c.qname()}</a>
                    % endfor
                  </span>
                % endif
              </li>
                <!--!
                % for g in prop.objects(VANN.termGroup)
                <i><a href="${link(g)}">${g.qname()}</a></i>
                % endfor
                -->
              % endfor
            </ul>
          </dd>
        % endif
        % set restrictions = sorted(voc.getrestrictions(rclass))
        % if restrictions
          <dt lang="en">Restrictions</dt>
          <dd>
            <ul class="list-unstyled">
              % for restr in restrictions
                % set prop = restr.value(OWL.onProperty)
                % set rtype = restr.value(OWL.allValuesFrom)
                <li>
                  <a href="${link(prop)}" lang="en">${prop.qname()}</a>
                  % if isinstance(rtype.identifier, URIRef)
                    &rarr; <a href="${link(rtype)}" lang="en">${rtype.qname()}</a>
                  % endif
                </li>
              % endfor
            </ul>
          </dd>
        % endif
        % set rangeprops = sorted(no_bnodes(set(rclass.subjects(RANGE))))
        % if rangeprops
          <dt lang="en">In range of properties</dt>
          <dd>
            <ul class="list-unstyled">
              % for prop in rangeprops
                <li class="${listclass(prop)}">
                &larr; <a href="${link(prop)}" class="chip-prop" lang="en">${prop.qname()}</a>
                % set domains = sorted(set(voc.find_references(prop.objects(DOMAIN))))
                % if domains
                    <span>&larr;
                    % for domain in domains
                        <a href="${link(domain)}" class="chip-class" lang="en">${domain.qname()}</a>
                    % endfor
                    </span>
                % endif
                </li>
                % endfor
            </ul>
          </dd>
        % endif
        % if any(rclass.subjects(RDF.type))
          <dt lang="en">Instances</dt>
          <dd>
            <ul class="list-unstyled items rdf-instances">
              % for i in sorted(rclass.subjects(RDF.type))
              <li><a href="${link(i)}" lang="en">${i.qname()}</a></li>
              % endfor
            </ul>
          </dd>
        % endif
      </dl>
    </div>
  </article>
% endmacro

% macro itemsblock(items, label, classname, iteminfo=False)
  % set itemlist = sorted(set(voc.find_references(items)))
  % if itemlist
    <dt lang="en">${label}</dt>
    <dd>
      <ul class="list-unstyled items ${classname}">
        % for item in itemlist
          <li class="${listclass(item)}">
            <a href="${link(item)}" lang="en">${item.qname()}</a>
            % if iteminfo and extgraph
              ${terminfo(extgraph.resource(item.identifier))}
            % endif
          </li>
        % endfor
      </ul>
    </dd>
  % endif
% endmacro

% macro terminfo(term, nolabel='')
  <p>
    ${(voc.label(term) or nolabel)}
    % if term.value(RDFS.comment)
      <em>&mdash; ${(term.value(RDFS.comment))}</em>
    % endif
  </p>
% endmacro

% macro propertydefinition(rprop)
  <article class="panel panel-default rdf-property" aria-label="${rprop.qname()}">
    <span id="${rprop.qname()}" class="vocab-anchor property-anchor" aria-hidden="true"></span>
    <header class="panel-heading">
      <h2 class="panel-title ${rprop.value(VS.term_status) or ''}" lang="en">${rprop.qname()}</h2>
    </header>
    <div class="panel-body">
      <p>
        ${(voc.label(rprop) or '...')}
        % if rprop.value(RDFS.comment)
          <em>&mdash; ${(rprop.value(RDFS.comment))}</em>
        % endif
      </p>
      <dl>
        % for prop in [DCTERMS.description, SKOS.scopeNote]
          % set value = rprop.value(prop)
          % if value and extgraph
            <dt lang="en">${extgraph.preferredLabel(prop, lang='en')[0][1].title()}</dt>
            <dd>
              % if value.datatype == RDF.HTML
                ${value | safe}
              % else
                ${value}
              % endif
            </dd>
          % endif
        % endfor
        % if rprop.value(SKOS.example)
          <dt lang="en">Example Values</dt>
          <dd>
            <ul class="list-inline">
              % for example in rprop.objects(SKOS.example)
                <li class="note">${example}</li>
              %endfor
            </ul>
          </dd>
        % endif
        % set notes = sorted(rprop.objects(SKOS.note))
        % if notes
          <dt lang="en">Related MARC notation</dt>
          <dd>
            <ul class="list-inline">
              % for note in notes
                <li class="chip-marc" lang="en">${note}</li>
              % endfor
            </ul>
          </dd>
        % endif
        ${itemsblock(rprop.objects(OWL.equivalentProperty), "Equivalent properties", 'baseproperties', True)}
        ${itemsblock(rprop.objects(RDFS.subPropertyOf), "Base properties", 'baseproperties', True)}
        ${itemsblock(rprop.subjects(union(RDFS.subPropertyOf, OWL.equivalentProperty)), "Subproperties", 'subproperties')}
        % set inverse = rprop.value(OWL.inverseOf)
        % if inverse
          <dt lang="en">Inverse of</dt>
          <dd>
            <a href="${link(inverse)}" lang="en">${inverse.qname()}</a>
            <span class="italic">${(voc.label(inverse) or '')}</span>
          </dd>
        % endif
        % set domains = sorted(set(rprop.objects(DOMAIN)))
        % if domains
          <dt lang="en">Domain(s)</dt>
          <dd>
            <ul class="list-unstyled items ${classname}">
              % for c in domains
              <li class="${listclass(c)}">
                <a href="${link(c)}" lang="en">${c.qname()}</a>
                <span class="italic">${(voc.label(c) or '')}</span>
              </li>
              % endfor
            </ul>
          </dd>
        % endif
        % set ranges = sorted(set(voc.find_references(rprop.objects(RANGE))))
        % if ranges
          <dt lang="en">Range(s)</dt>
          <dd>
            <ul class="list-unstyled items ${classname}">
              % for c in ranges
              <li class="${listclass(c)}">
                <a href="${link(c)}" lang="en">${c.qname()}</a>
                <span class="italic">${(voc.label(c) or '')}</span>
              </li>
              % endfor
            </ul>
          </dd>
        % endif
      </dl>
    </div>
  </article>
% endmacro
