% extends "base.html"
% import 'search.html' as search

{% block title %}{% endblock %}

{% block bodyattrs %}id="website"{% endblock %}

% block jumbotron
<div class="jumbotron">
  <!-- <div class="container">
    <div class="col-md-push-2 col-md-8 text-black">
      
    </div>
  </div> -->
</div>
% endblock

{% block navcontainerclass %} container {% endblock %}

% block content
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default intro-text">
      ${thing.description|safe}
    </div>
  </div>
  <div class="col-md-8">
    ${search.search_controls(thing, true) }
  
  <!-- <div class="col-md-12">
    <div class="panel panel-default scheme-item">
      <div class="col-md-12 main-nav">
        <div class="list-group">
          % for value in thing.statistics.sliceByDimension.values()
            % for obs in value.observation
              % if obs.object and 'titleByLang' in obs.object and 'descriptionByLang' in obs.object
                % if obs.object.notation
                  % set ref = obs.object.notation[0].replace('/','-')
                % else
                  % set ref = obs.object.label
                % endif
                <a class="list-group-item" href="#${ref}">
                  ${obs.object.label or obs.object.titleByLang[lang]}
                </a>
              % endif
            % endfor
          % endfor
        </div>
      </div>
    </div>
  </div> -->

  % for value in thing.statistics.sliceByDimension.values()
    % for obs in value.observation
      ${view_observation(obs)}
    % endfor
  % endfor
  </div>
</div>

% endblock

% block footer

    <div class="footer-container">
      <div class="container">
          <div class="col-md-3 col-md-offset-3 col-md-push-3">
            <h1>Kontakt</h1>
            <ul class="list-unstyled">
              <li class=""><a
                  href="mailto:libris@kb.se?Subject=${thing.title or thing[ID]}"><i
                  class="fa fa-fw fa-envelope"></i> libris@kb.se</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-md-push-2">
            % if g.site.itemList
              <h1>Resurser</h1>
              <ul class="list-unstyled">
                % for item in g.site.itemList
                  <li class=""><a href="${item[ID]}"><i
                      class="fa fa-fw fa-${item.icon}"></i> ${item.title}</a></li>
                % endfor
              </ul>
            % endif
          </div>
          <div class="text-center col-md-3 col-md-pull-8">
            <div class="">
              <img src="/assets/img/kb_logo_white.svg" class="logo-medium" alt="" />
            </div>
            <div>
              <p><br/>
                <strong><a href="http://www.kb.se" alt="Länk till Kungl. bibliotekets webbplats">
                  KUNGL. BIBLIOTEKET
                </a></strong>
              </p>
            </div>
          </div>
      </div>
    </div>

% endblock

% block scripts

% endblock

% macro view_observation(obs)
  % if obs.object is not none
    % if obs.object.notation
    <div id="${obs.object.notation[0].replace('/','-')}" class="panel panel-default scheme-item">
    % else
    <div class="panel panel-default scheme-item">
    % endif
      <header class="panel-heading">
        <h1 class="panel-title">
          <a href="${ obs.object['@id'] }">
            % if 'titleByLang' in obs.object
              ${obs.object.titleByLang[lang]}
            % elif 'label' in obs.object
              ${obs.object.label}
            % endif
          </a>
        </h1>
      </header>
      <div class="panel-body container-fluid">
        <!-- <p class="description collapsed">
          % if 'descriptionByLang' in obs.object
          ${ obs.object.descriptionByLang[lang].strip().replace('\n','<br/>') | safe }
          % endif
        </p> -->
        % if obs.sliceByDimension
          <div>
            <!-- First item is "all" -->
            <a class="list-group-item" href="${ obs.view['@id'] }">Visa alla <span class="badge">${format_number(obs.totalItems)} st.</span></a>
            % for dimension in obs.sliceByDimension
              % for item in obs.sliceByDimension[dimension].observation
                <a class="list-group-item"
                    href="${item.view['@id']}">
                    % if item.object.titleByLang
                      ${item.object.titleByLang[lang]}
                    % elif item.object.label
                      ${item.object.label}
                    % endif
                    <span class="badge">${format_number(item.totalItems)} st.</span>
                </a>
              % endfor
            % endfor
            % for subkey in obs.slideByDimension
              % if obs.sliceByDimension[subkey].observation
                <h4>Uppdelning: ${subkey}</h4>
              % endif
              % for observation in obs.sliceByDimension[subkey].observation
                <a class="list-group-item"
                  href="${observation.view[ID]}">
                    % if observation.object
                      ${observation.object.label or observation.object.titleByLang.sv}
                    % else
                      ${observation.view[ID]}
                    % endif
                    <span class="badge">${format_number(observation.totalItems)} st.</span>
                </a>
              % endfor
            % endfor
          </div>
        % endif
      </div>
  </div>
  % endif
% endmacro
