% extends "base.html"
% import 'search.html' as search
% from "termutils.html" import vocab_term

{% block title %}{% endblock %}

{% block bodyattrs %}id="website"{% endblock %}

% block jumbotron
<div class="jumbotron">
  <!-- <div class="container">
    <div class="col-md-push-2 col-md-8 text-black">

    </div>
  </div> -->
</div>
% endblock

{% block navcontainerclass %} container {% endblock %}

% block content
<div id="startPageApp">
  <div class="row" v-if="initialized == true">
    <div class="col-md-8 col-md-offset-2">
      <div v-html="summary"></div>
      <h1 class="welcome">
        Välkommen till {{serviceName}}
      </h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta venenatis lorem, sed finibus dolor feugiat eget. Vestibulum placerat lorem massa, luctus dapibus lectus commodo aliquam. Sed cursus nisl euismod venenatis maximus. Donec volutpat porta tortor, id euismod leo hendrerit sit amet.
    </div>
    <div class="col-md-8 col-md-offset-2 search-container">
      <search-form v-if="initialized == true" :result="result" filter-param="${g.site.filter_param}" site-title="${g.site.title}"></search-form>
    </div>
    <dataset-observations :statistics="result.statistics" site-title="${g.site.title}"></dataset-observations>
  </div>
</div>
<script id="data" type="application/json">${thing|tojson|safe}</script>
% endblock

% block footer

    <div class="footer-container">
      <div class="container">
          <div class="col-md-3 col-md-offset-3 col-md-push-3">
            <h1>Kontakt</h1>
            <ul class="list-unstyled">
              <li class=""><a
                  href="mailto:libris@kb.se?Subject=${thing.title or thing[ID]}"><i
                  class="fa fa-fw fa-envelope"></i> libris@kb.se</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-md-push-2">
            % if g.site.itemList
              <h1>Resurser</h1>
              <ul class="list-unstyled">
                % for item in g.site.itemList
                  <li class=""><a href="${item[ID]}"><i
                      class="fa fa-fw fa-${item.icon}"></i> ${item.title}</a></li>
                % endfor
              </ul>
            % endif
          </div>
          <div class="text-center col-md-3 col-md-pull-8">
            <div class="">
              <img src="/assets/img/kb_logo_white.svg" class="logo-medium" alt="" />
            </div>
            <div>
              <p><br/>
                <strong><a href="http://www.kb.se" alt="Länk till Kungliga bibliotekets webbplats">
                  KUNGLIGA BIBLIOTEKET
                </a></strong>
              </p>
            </div>
          </div>
      </div>
    </div>

% endblock

% block scripts

% endblock

% macro observation_button(obs)
  {%
    set icons = {
      "Text": "file-text",
      "ManuscriptText": "file-text",
      "Cartography": "globe",
      "StillImage": "image",
      "Music": "music",
      "NotatedMusic": "music",
      "Audio": "file-audio-o",
      "Kit": "cube",
      "ProjectedImage": "film",
      "Multimedia": "play-circle-o"
    }
  %}

  % set vocab_url = 'https://id.kb.se/vocab/'

  % if obs.object is not none
    <div class="observation-container">
      <a href="${ obs.view['@id'] }">
        % if obs.object.notation
          <div id="${obs.object.notation[0].replace('/','-')}" class="observation-button">
        % else
          <div class="observation-button">
        % endif
        % set type = obs.object['@id'].replace(vocab_url, '')
            <i class="fa fa-fw fa-${icons[type] or 'file' }"></i>
              <!-- <p class="description collapsed">
                % if 'descriptionByLang' in obs.object
                ${ obs.object.descriptionByLang[lang].strip().replace('\n','<br/>') | safe }
                % endif
              </p> -->
          </div>
      </a>
      % if g.site.title == 'id.kb.se'
      <a href="${ obs.object['@id'] }">
      % else
      <a href="${vocab_url}#${ obs.object['@id'] }">
      % endif
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      </a>

      <div class="observation-label">
          % if g.site.title == 'id.kb.se'
            ${show_label(obs.object)}
          % else
            ${vocab_term(obs.object['@id'])}
          % endif
      </div>
      <div class="observation-quantity">
        % if obs.sliceByDimension
            <!-- First item is "all" -->
              <span>
                ${format_number(obs.totalItems)} st.
              </span>

        % else
          ${view_observation_item(obs)}
        % endif
      </div>
    </div>
  % endif
% endmacro


% macro view_observation(obs)
  % set vocab_url = 'https://id.kb.se/vocab/'

  % if obs.object is not none
  <div class="col-md-6">
    % if obs.object.notation
    <div id="${obs.object.notation[0].replace('/','-')}" class="panel panel-default scheme-item">
    % else
    <div class="panel panel-default scheme-item">
    % endif
      <header class="panel-heading">
        <h1 class="panel-title">
          % if g.site.title == 'id.kb.se'
          <a href="${ obs.object['@id'] }">
              ${show_label(obs.object)}
          </a>
          % else
          <a href="${vocab_url}#${ obs.object['@id'] }">
            ${vocab_term(obs.object['@id'])}
          </a>
          % endif
        </h1>
      </header>
      <div class="panel-body container-fluid">
        <!-- <p class="description collapsed">
          % if 'descriptionByLang' in obs.object
          ${ obs.object.descriptionByLang[lang].strip().replace('\n','<br/>') | safe }
          % endif
        </p> -->
        % if obs.sliceByDimension
          <div>
            <!-- First item is "all" -->
            <a class="list-group-item" href="${ obs.view['@id'] }">Visa alla <span class="badge">${format_number(obs.totalItems)} st.</span></a>
            % for dimension in obs.sliceByDimension
              % for item in obs.sliceByDimension[dimension].observation
                <a class="list-group-item"
                    href="${item.view['@id']}">
                    ${show_label(item.object)}
                    <span class="badge">${format_number(item.totalItems)} st.</span>
                </a>
              % endfor
            % endfor
            % for subkey in obs.slideByDimension
              % if obs.sliceByDimension[subkey].observation
                <h4>Uppdelning: ${subkey}</h4>
              % endif
              % for observation in obs.sliceByDimension[subkey].observation
                ${view_observation_item(observation)}
              % endfor
            % endfor
          </div>
        % else
          ${view_observation_item(obs)}
        % endif
      </div>
  </div>
</div>
  % endif
% endmacro

% macro show_label(obj)
  % set obj = vocab.get_term_dfn(obj[ID]) or obj
  % if obj.titleByLang
    ${obj.titleByLang[lang]}
  % elif obj.labelByLang
    ${obj.labelByLang[lang]}
  % elif obj.label
    ${obj.label}
  % elif obj.notation
    ${first(obj.notation)}
  % else
    <code>${obj[ID]}</code>
  % endif
% endmacro

% macro view_observation_item(item)
  <a class="list-group-item"
    href="${item.view[ID]}">
      % set o = item.object
      % if o
        ${o.label or (o.titleByLang and o.titleByLang.sv) or o.prefLabelByLang and o.prefLabelByLang.sv}
      % else
        <code>${item.view[ID]}</code>
      % endif
      <span class="badge">${format_number(item.totalItems)} st.</span>
  </a>
% endmacro
