$layout-breakpoint-small: 640px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;
$layout-breakpoint-extra-large: 1280px;
$layout-breakpoint-2x-large: 1536px;
$layout-breakpoint-3x-large: 1920px;
