// Styles needed from Kungbib to maintain current look
// TODO: put these where they belong & get rid of file

@white: #ffffff;
@black: #333;
@grey: #949A9E;
@grey-dark: #6F767B;
@grey-light: #C4C7CA;
@grey-lighter:#E0E6E9;

@happy-blue: #5DC4ED;
@happy-muted-denim: #547E91;
@happy-magenta: rgb(255, 154, 255);

body {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.navbar-logo img {
    margin: .2em 0;
    height: 80%;
}

.navbar-brand {
    margin: 0!important;
}

.navbar-logo {
    padding: 0;
}

.logo-medium {
    height: 75px;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}