body#login,
body#logout {
  .logout-message {
    padding-top: 30px;
  }
  
  .auth-container {
    padding: 15px;
    h1 {
      font-weight: 400;
      font-size: 30px;
      margin-top: 0;
    }
    .login-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      > p {
        font-size: 13px;
        > a {
          font-weight: bold;
        }
      }
    }
    .btn-login {
      font-size: 16px;
      padding: 0.7em 2em;
      font-weight: bold;
    }
  }
}
