@import '../shared/utils.less';
@import '../shared/vocab.less';
@import '../shared/graph.less';
@import '../shared/items.less';
@import '../shared/marcframe.less';
@import '../shared/panel.less';
@import '../shared/search.less';
@import '../shared/navbar.less';
@import '../shared/modals.less';
@import '../shared/login.less';
@import '../shared/thing.less';
@import '../shared/button-and-links.less';
@import '../shared/kungbib.less';

// ----------- BASE STYLES ----------

@orange: #CA9543;
@green: #009788;
@grey-very-dark: #191913; // font-color

@modal-z: 999;
@active-component-z: 99;
@backdrop-z: 950;

@shadow-panel: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

// Column widths
@col-label: 200px;
@col-value: 620px;
@col-action: 250px;

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  &.ie11 {
    main {
      margin-bottom: 75vh;
    }
  }
  &.no-flexbox {
    .container {
      display: none;
    }
    #oldbrowsermsg {
      padding: 25px;
      display: block !important;
    }
  }
}

[v-cloak] {
  display: none;
}

main {
  margin-top: 30px;
  margin-bottom: 100px;
}

#oldbrowsermsg {
  width: 100%;
  padding: 3em 0em;
  div {
    border: 1px solid @gray;
    background-color: @gray-lighter;
    padding: 25px;
    width: 800px;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  }
}

#body-blocker {
  display: none;
  z-index: @backdrop-z;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
html.scroll-lock {
  overflow: hidden;
}

body {
  position: relative;
  background-color: @bg-site;
  background-image: @bg-img;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .facet-container {
    opacity: 1;
    transition: 0.3s ease width 0s, 0.3s ease opacity 0.3s;
    &.facet-hidden {
      width: 0%;
      opacity: 0;
    }
  }

  .search-content-container {
    transition: 0.3s ease width;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
  }
}

h2 {
  font-weight: normal;
}

.libris-redirect-page {
  text-align: center;
  h1 { font-size: 50px; }
  a { color: @brand-primary; }
  a:hover { color: #333; }
}

footer {
  background-color: @bg-footer;
  border: 0px solid @border-footer;
  color: @text-footer;
  box-shadow: @shadow-footer;
  // text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  .content-container {
    display: flex;
    justify-content: center;
    .header {
      font-weight: bold;
    }
    .item {
      font-size: 14px;
    }
    > div {
      display: flex;
      padding: 0 1em;
    }
    .service-name {
      flex: 20% 1 1;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      > a {
        text-align: center;
      }
    }
    .link-list {
      flex: 25% 2 2;
      flex-direction: column;
    }
    .social-media {
      flex: 20% 1 1;
      flex-direction: column;
      align-items: center;
      a {
        margin: 0 5px;
      }
    }
  }
  a {
    color: @text-footer;
    text-transform:none;
    &:hover {
      color: @text-footer;
    }
  }
  i {
    color: @text-alt-footer;
  }
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}


// ----------- BUTTONS ----------------
button, .btn-primary, .btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
}

button {
  color:#444;
  border:none;
  border-radius: 2px;
  background:#ccc;
  padding: 0 0.4em;
  font-weight:bold;
  &:hover {
  background: #ddd;
  color:#222;
  }
  &:focus {
  background:#bbb;
  }
}
// ----------- VARIOUS ----------------
