body#marcframeview {
  @nav-col-width: 200px;

  .nav-col {
    min-width: @nav-col-width;
    max-width: @nav-col-width;

    .tab-content li {
      display: inline-block;
      width: 20%;
    }
  }

  .content-col {
    width: 100%;
    margin-left: calc(@nav-col-width + 2em);
    
    @supports(position:sticky) {
      margin-left: 0;
    }
  }

  .toggle-all-container {
    padding: 0.5em 1em;
    border: 1px solid @grey-light;
    border-radius: 4px;

    label {
      margin: 0;
    }
  }

  table {
    table-layout: fixed;
  
    th, td {
      vertical-align: baseline;
    }
  }

  .table-main {
    background-color: @white;
  }

  .table-inner {
    margin: 0;

    th, td {
      border-color: @grey-lighter;
    }

    th {
      width: 130px;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    td {
      width: 100%;
    }

    tr:first-of-type > th, tr:first-of-type > td {
      border-top: 0;
    }
  }

  .marc-tag {
    width: 4em;
    background-color: @grey-lighter;

    .marc-anchor {
      display: block;
      position: relative;
      top: calc(0px - @navbar-height - 1em);
      visibility: hidden;
    }
  }

  .marc-tag, .marc-dfn {
    padding: 1em;
    border-width: 2px;
  }

  .marc-dfn {
    border-bottom: 0;
  }

  .marc-example {

    .toggle-example-btn {
      float: right;
      border: 1px solid @black;
      margin: 1em 0;

      .fa {
        transition: transform 0.2s ease;
      }
    }

    .example-list {
      display: none;
      clear: both;
    }

    &.expanded {
      .example-list {
        display: block;
      }

      .toggle-example-btn .fa {
        transform: rotate(90deg);
      }
    }

    pre {
      margin-bottom: 2em;
    }

    h4 {
      margin-top: 0;
    }
  }

  dl {
    dd {
      padding-left: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  dd, td {
    .resourceType {
      .chip-class();
    }
    .addLink, .addProperty, .property, .link {
      .chip-prop();
    }
    a {
      line-height: 1.8;
    }
  }

  .ext:before {
    font-family: FontAwesome;
    font-size: 85%;
    content: " \f08e";
  }

  @media screen and (max-width: @screen-md-min) {
    .table-main > tbody > tr > th, 
    .table-main > tbody > tr > td {
      display: block;
    }

    .table-inner > tbody {
      th {
        width: 100px;
      }

      td {
        word-break: break-word;
      }
    }

    .marc-tag, .marc-dfn, .marc-example {
      border-width: 0;
    }

    .marc-tag {
      width: 100%;
    }
  }

  @media screen and (max-width: @screen-sm-min) {
    .table-main > tbody > tr > th {
      background-color: @grey-light;
    }

    .table-inner > tbody {
      tr {
        display: block;
      }

      th {
        display: block;
        background: @grey-lighter;
        width: 100%;
      }
    }

    .example-list {
      list-style-type: none;
      padding-left: 0;
    }
  }
}
