.search-controls {
  margin: 1em 0;

  .searchFieldContainer {
    position: relative;

    > * {
      margin-right: 10px;
    }

    i {
      position: absolute;
      left: 15px;
      bottom: 12px;
      color: @grey;
    }
  }
  .search-input {
    font-size: @base-font-size;
    color: @text-color;
    height: auto;
    padding: 0.5em 0.5em 0.5em 2.5em;
    display: inline-block;
    border-radius: 10px;

    &:focus {
      border: 1px solid @brand-primary;
      box-shadow: none;
    }
  }
  
  .type-buttons {
    margin-bottom: 2em;
  }

  .checkbox-inline {
    font-size: @small-font-size;
    font-weight: 600;
    margin-left: 0;
    margin-right: 1em;
  }
}

.activated-facets {
  margin-bottom: 1em;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  .activated-facet {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 12px;
    margin: 5px;
    background-color: @brand-primary;
    border-radius: 20px;
    color: @white;
    font-size: @small-font-size;
    font-weight: 600;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover {
      text-decoration: none;
      background-color: @link-hover-color;

      i {
        transform: scale(1.2);
      }
    }
  }
}

.result-controls {
  margin-bottom: 1em;

  .pagination {
    margin: 0;
    border: 1px solid @grey-lighter;
    background-color: @white;

    li a {
      border: 0;
    }

    .disabled a {
      color: @grey-light;
    }
  }

  .search-keyword {
    font-weight: 600;
    white-space: nowrap;
  }
}

.result-list {
  background-color: @white;
  border: 1px solid @grey-lighter;
  border-radius: 4px;
  margin-bottom: 1em;
}