body#vocab { // Opening bracket for body#vocab, everything in this file should be inside it
  @nav-col-width: 30%;

  .nav-col {
    min-width: @nav-col-width;
    max-width: @nav-col-width;

    .tab-content ul {
      padding: 0 1em;

      li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .content-col {
    width: 100%;
    margin-left: calc(@nav-col-width + 2em);
    
    @supports(position:sticky) {
      margin-left: 0;
    }
  }

  .vocab-anchor {
    display: block;
    position: relative;
    top: calc(0px - @navbar-height - 1em);
    visibility: hidden;
  }

  .class-anchor:target ~ .panel-body {
    border-color: @color-class;
  }

  .property-anchor:target ~ .panel-body {
    border-color: @color-prop;
  }

  /* Content styles */

  dl {
    margin-bottom: 1em;
  }

  dt {
    color: @grey-dark;
    font-weight: normal;
  }

  dd {
    margin-bottom: 10px;
    line-height: 2em;
  }

  .note {
    display: inline-block;
    color: #333;
    background-color: #ffe;
    border: 1px dotted #ccc;
    font-family: Consolas, Lucida Console, monospace;
    padding: 0 0.2em;
    margin: 0.1em 0;
  }

  /* Panels */

  .panel {
    header {
      color: @white;
    }

    &.rdf-class header {
      border: 1px solid @color-class;
      background-color: @color-class;
    }

    &.rdf-property header {
      border: 1px solid @color-prop;
      background-color: @color-prop;
    }
  }

  .rdf-class, .rdf-property {
    max-width: 800px;
    box-shadow: none;

    .panel-body {
      border: 1px solid @grey-light;
      border-top: 0;
    }
  }

  @media screen and (max-width: @screen-sm-min) { 
    .panel-title {
      overflow-wrap: break-word;
    }
  }

} // Closing bracket for body#vocab
