span.disabled {
  opacity: 0.7;
}

.badge {
  &-accent {
    background-color: $brand-accent;
    color: #fff;
  }
  &-accent2 {
    background-color: $brand-accent2;
    color: #fff;
  }
  &-accent3 {
    background-color: $brand-accent3;
    color: #fff;
  }
  &-danger {
    background-color: $brand-danger;
    color: #fff;
  }
  &-primary {
    background-color: $brand-primary;
    color: #fff;
  }
  &-warning {
    background-color: $brand-warning;
    color: #fff;
  }
  &-info {
    background-color: $brand-info;
    color: #333;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 0.25em;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &.with-accent {
    .tooltip-arrow {
      border-color: $brand-accent2;
    }
    .tooltip-inner {
      background: $brand-accent2;
    }
  }

  &[x-placement^="top"] {
    margin-bottom: 10px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 10px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: $white;
    max-width: 650px;
    margin: 0;
    .popover-inner {
      max-width: 650px;
      background: $color;
      text-align: left; // for IE11
      text-align: unset;
      color: black;
      padding: 0.2em;
      font-weight: normal; // for IE11
      font-weight: unset;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      display: none;
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease, visibility .25s ease;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .25s ease;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.panel {
  @include panel-mixin($neutral-color);
}

.icon-hover {
  &:hover {
    & .icon:not(.chip-icon):not(.is-disabled) {
      color: $grey-dark-transparent;
    }

    &:not(.locked) >.actions {
      opacity: 1;
    }
  }

  .user-is-tabbing &:focus-within { // icon 'hover-effect' when tabbing 
    & .icon:not(.chip-icon):not(.is-disabled) {
      color: $grey-dark-transparent;
    }
  }

  & .icon {
    color: $grey-transparent;

    &:hover:not(.is-disabled),
    &:focus {
      color: $grey-very-dark-transparent;
    }
  }
}