@import 'tailwindcss';

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter-MediumItalic.woff2') format('woff2');
}

:root {
}

@theme inline {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

	--color-*: initial;
	--color-error: rgba(187, 54, 54, 1);
}

@layer base {
	html {
		scrollbar-gutter: stable;
	}

	body {
		font-family: var(--font-sans);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@layer components {
}

/* OLD THEME */

/* custom bg colors  */

@utility bg-backdrop {
	background-color: --alpha(var(--color-black) / 25%);
}

/* layout */

@utility grid-cols-find {
	grid-template-columns: minmax(240px, 1fr) 5fr;
}

@utility grid-cols-instance-list {
	grid-template-columns: 16px 1fr 3fr 1fr 2fr;
}

@utility find-layout {
	@apply md:grid-cols-find flex flex-col gap-4 md:grid md:gap-8;
}

@utility header-layout-md {
	grid-template-columns: minmax(240px, 1fr) minmax(0, 4fr) minmax(160px, 1fr);
}

@utility header-layout {
	grid-template-columns: 70px minmax(0, 8fr) 1fr;
	@apply md:header-layout-md grid gap-x-8 px-4 sm:px-6 md:px-2;

	/* why is this not working?? */
	/* @media screen and (min-width: var(--breakpoint-md)) {
		grid-template-columns: minmax(240px, 1fr) minmax(0, 4fr) minmax(160px, 1fr);
	} */
}

/* layout utilites */

@utility page-padding {
	@apply p-4 sm:px-6;
}

@utility container-fluid {
	@apply mx-auto px-4 sm:px-8;
}

@utility max-w-content {
	max-width: 78rem;
}
