/* Colors are defined in rgb using this syntax for css variables to work with tw -
see https://tailwindcss.com/docs/customizing-colors#using-css-variables */

:root {
	--color-black: 0 0 0;
	--color-white: 255 255 255;
	--color-brown: 82 51 20;
	--color-dark-green: 66 107 84;
	--color-light-green: 213 229 220;
	--color-beige: 248 246 241;
	--color-pink: 236 214 192;

	/* Fundament */
	--color-primary: var(--color-brown);
	--color-accent-dark: var(--color-dark-green);
	--color-accent-light: var(--color-light-green);
	--color-subtle: var(--color-beige);
	--color-highlight: var(--color-pink);

	/* Text colors */
	--text-primary: var(--color-primary);
	--text-primary-inv: var(--color-white);
	--text-link: var(--color-accent-dark);

	/* Bg colors */
	--bg-main: var(--color-subtle);
	--bg-head: var(--color-accent-light);
	--bg-positive: var(--color-accent-light);
	--bg-positive-inv: var(--color-primary);
	--bg-cards: var(--color-white);
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-main: var(--color-black);
		--bg-cards: var(--color-black);
		--bg-head: var(--color-accent-dark);
		--text-primary: var(--text-primary-inv);
		--text-link: var(--color-accent-light);
	}
} */
