/* Colors are defined in rgb using this syntax for css variables to work with tw -
see https://tailwindcss.com/docs/customizing-colors#using-css-variables */

:root {
	--color-black: 0 0 0;
	--color-white: 255 255 255;
	--color-brown: 82 51 20;
	--color-brown-light: 103 64 25;
	--color-dark-green: 66 107 84;
	--color-light-green: 213 229 220;
	--color-beige: 247 246 242;
	--color-pink: 239 214 189;
	--color-dark-beige: 240 238 233;
	--color-red: 187 54 54;

	/* Fundament */
	--color-primary: var(--color-brown);
	--color-primary-light: var(--color-brown-light);
	--color-accent-dark: var(--color-dark-green);
	--color-accent-light: var(--color-light-green);
	--color-subtle: var(--color-beige);
	--color-highlight: var(--color-pink);
	--color-error: var(--color-red);

	/* Text colors */
	--text-primary: var(--color-primary);
	--text-primary-inv: var(--color-white);
	--text-link: var(--color-primary);
	--text-positive: var(--color-accent-dark);
	--icon-default: var(--color-primary);
	--text-error: var(--color-error);

	/* Bg colors */
	--bg-primary: var(--color-primary);
	--bg-main: var(--color-subtle);
	--bg-site-header: var(--color-accent-light);
	--bg-header: var(--color-dark-beige);
	--bg-positive: var(--color-accent-light);
	--bg-positive-inv: var(--color-primary-light);
	--bg-negative: var(--color-highlight);
	--bg-cards: var(--color-white);
	--bg-pill: var(--color-primary);
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-main: var(--color-black);
		--bg-cards: var(--color-black);
		--bg-head: var(--color-accent-dark);
		--text-primary: var(--text-primary-inv);
		--text-link: var(--color-accent-light);
	}
} */
