[data-theme='arkdes'],
[data-theme='swepub'] {
	--theme-primary-50: oklch(96.75% 0.017 242.42);
	--theme-primary-100: oklch(93.47% 0.035 241.45);
	--theme-primary-200: oklch(86.4% 0.074 241.98);
	--theme-primary-300: oklch(78.37% 0.119 243.24);
	--theme-primary-400: oklch(67.77% 0.178 248.77);
	--theme-primary-500: oklch(52.247% 0.15219 251.064);
	--theme-primary-600: oklch(48% 0.139 250.8);
	--theme-primary-700: oklch(45.04% 0.128 250.28);
	--theme-primary-800: oklch(39.6% 0.113 250.2);
	--theme-primary-900: oklch(30.64% 0.084 248.52);
	--theme-primary-950: oklch(20.98% 0.052 244.04);
}
