[*.{js,jsx,ts,tsx,vue}]
root = true
indent_style = space
indent_size = 2
end_of_line = lf
# removed because of lots of trailing whitespace in source files ATM
#trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100
