@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/assets.css';
@import 'sanitize.css/reduce-motion.css';

/** TODO: add static font variants (with required weights)

@font-face {
	font-style: normal;
	font-weight: 400;
	src: url('$lib/fonts/Inter-Regular.woff2') format('woff2');
	font-family: Inter;
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 400;
	src: url('$lib/fonts/Inter-Italic.woff2') format('woff2');
	font-family: Inter;
	font-display: swap;
}
*/

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url('$lib/fonts/InterVariable.woff2') format('woff2');
	font-family: InterVariable;
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url('$lib/fonts/InterVariable-Italic.woff2') format('woff2');
	font-family: InterVariable;
	font-display: swap;
}

:root {
	--font-fallback: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
		'Noto Sans', sans-serif;
	--font-body: InterVariable, var(--font-fallback); /* TODO: Should be Inter when static fonts are added */
	--font-size-base: 1rem; /* 16px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-xs: 0.8125rem; /* 13px */
	--font-size-2xs: 0.75rem; /* 12px */
	--font-size-3xs: 0.6875rem; /* 11px */
	--font-size-4xs: 0.625rem; /* 10px */
	--font-weight-normal: 500;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--padding-base: 16px;
	--padding-sm: 12px;
	--padding-xs: 8px;
	--padding-2xs: 6px;
	--padding-3xs: 4px;
	--gap-base: 16px;
	--gap-sm: 8px;
	--gap-xs: 4px;
	--gap-2xs: 2px;
	--height-input-base: 44px;
	--height-input-sm: 40px;
	--height-input-lg: 48px;
	--color-base: #333;
	--color-subtle: #666;
	--color-super-subtle: #999;
	--color-link: #0e7180;
	--background-header: #eaf2ed;
	--background-main: #fff;
	--background-aside: rgba(234, 242, 237, 0.125);
	--border-color: #d5e4dd;
	--border-radius-sm: 4px;
	--border-radius-base: 8px;
	--border-radius-lg: 12px;
	--box-shadow-border-top: inset 0 1px var(--border-color);
	--box-shadow-border-right: inset -1px 0 var(--border-color);
	--box-shadow-border-bottom: inset 0 -1px var(--border-color);
	--box-shadow-border-all: inset 0 0 0 1px var(--border-color);
	color: var(--color-base);
	font-family: var(--font-body);
	font-feature-settings:
		'liga' 1,
		'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
