// Import kb-styles colors
@import "~bootstrap/less/variables.less";
@import "~kungbib-styles/dist/less/colors";
@import "~kungbib-styles/dist/less/colors-deprecated";
@import "~kungbib-styles/dist/less/mixins/colors";

// ----------- VARIABLES ------------
@brand-primary: #009788;
@brand-danger: #ab5252;
@bg-site: #F9F9F9;
@test-color: pink;
@bg-img: none;
//@bg-img: url('/assets/img/bg_libris.png');
@bg-content: @black;
@bg-content-alt: @black;
@bg-navbar: #ffffff;
@bg-navbar-hover: rgba(199, 226, 224, 0.27);
@shadow-navbar: none;
@text-navbar: #505050;
@text-brand: #505050;
@text-brand-env: @brand-primary;
@text-alt-navbar: #505050;
@text-toolbar: fade(@white, 55%);
@bg-sidebars: darken(@white, 5%);
@border-navbar: @gray-light;
@border-navbar-width: 1px;
@bg-footer: @white;
@shadow-footer: inset 0px 1px 0px 0px @gray;
@text-footer: @black;
@text-alt-footer: @black;
@bg-jumbotron: transparent;
@bg-jumbotron-image: none;
@border-footer: @gray-light;
@color-class: @gray;
@color-prop: @happy-magenta;
@color-prop-list: @gray;
@color-ext: #d51;
@color-id: #c7254e;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color,15%);
@panel-border-radius: 3px;
@thing-header-bg: @brand-primary;
@thing-header-text: @white;

@color-headers: @brand-primary;
@color-headers-text: #fff;

// --------- EDITOR SPECIFIC --------

// Variables
@chipColor: @gray-lighter;
// @chipColorLinked: rgb(131, 197, 191);
@chipColorLinked: #b2d2cf;
@chipTextColor: #000000;
@chipTextColorLinked: #000000;

// ----------- VARIABLES ------------

// Z-index
@header-z: 900;
@modal-z: 999;
@popover-z: 900;
@notification-z: 1000;
@active-component-z: 99;
@backdrop-z: 950;

// ---- grayscale ----
@white: #ffffff;
@gray-lighter: #E0E6E9;
@gray-light: #C4C7CA;
@gray: #949A9E;
@gray-dark: #6F767B;
@gray-darker: #595D61;
@black: #333;

// LIBRIS colors
@holding-color: #ac82b5;
@bib-color: #009788;

// - Color choices
@brand-id: #547e91;
@bg-site: #F9F9F9;
@test-color: pink;
@neutral-color: #fff;
@bg-img: none;
@bg-content: @white;
@bg-content-alt: @white;
@text-navbar: #505050;
@text-brand: #505050;
@text-brand-env: @brand-primary;
@text-alt-navbar: #505050;
@text-toolbar: fade(@white, 55%);
@bg-sidebars: darken(@white, 5%);
@bg-footer: @brand-primary;
@text-footer: #fff;
@text-alt-footer: #fff;
@bg-jumbotron: transparent;
@bg-jumbotron-image: none;
@border-footer: @gray-light;
@color-ext: #d51;
@color-id: #c7254e;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color,15%);
@panel-border-radius: 3px;
@topbar-color: @white;

@sec: #86B5CB;
@sec-contrast: #74aac3;

@sec-alter: #629fbc;
@sec-alter-contrast: #4b8faf;

@warning: #f5c6cb;
@warning-alter: #963c3c;

@color-headers: @brand-primary;
@color-headers-text: #fff;

// --------- SHADOWS AND ELEVATION --
@shadow-base: none;
@shadow-chip: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
@shadow-chip-elevated: 0px 5px 13px 2px rgba(0, 0, 0, 0.3);
@shadow-card-elevated: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
@shadow-select: 0px 5px 13px 2px rgba(0, 0, 0, 0.3);
@shadow-panel: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);


// --------- COMPONENT COLORS -------
@color-local: @white;

// --------- EDITOR SPECIFIC --------

@form-field: darken(@neutral-color, 5%);

@instance-chip-background: #547e91;
@instance-chip-text: lighten(@instance-chip-background, 80%);
@instance-background: #547e91;
@instance-text: lighten(@instance-background, 80%);
@instance-hover: lighten(@instance-background, 5%);
@instance-background-dark: darken(@instance-background, 5%);

@work-chip-background: #5d9c73;
@work-chip-text: lighten(@work-chip-background, 80%);
@work-background: #3c9059;
@work-text: lighten(@work-background, 80%);
@work-hover: lighten(@work-background, 5%);
@work-background-dark: darken(@work-background, 5%);
@node-bg: #fafafa;

@highlight-color: @brand-primary;

// Column widths
@col-label: 200px;
@col-value: 620px;
@col-action: 250px;


// ----------- BASE STYLES ----------

@orange: #CA9543;
@green: #009788;
@gray-very-dark: #191913; // font-color


// Column widths
@col-label: 200px;
@col-value: 620px;
@col-action: 250px;