.card-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.4em 1em;
  margin: 0.25em 0;
  transition: color 0.5s ease;
  &:hover {
    // background-color: fadeout(@brand-primary, 75%);
    text-decoration: underline;
  }
  &.active {
    color: @white;
    background: @brand-primary;
    &:hover {
      text-decoration: none;
    }
  }
}
