.card-link {
  font-weight: 600;
  padding: 0.4em 1em;
  margin: 0.25em 0;
  transition: color 0.2s ease;
  
  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: @white;
    background: @brand-primary;
    &:hover {
      text-decoration: none;
    }
  }
}
