.icon {
    color: @gray-op;
    color: @icon-default;
    cursor: pointer;
    transition: color .1s ease;

    &:hover {
        color: @icon-default--hover;
    }

    &--primary {
        color: @icon-primary;

        &:hover {
            color: @icon-primary--hover;
        }
    }

    &--sm {
        font-size: @icon-sm;
    }

    &--md {
        font-size: @icon-md;
    }
    
    &--lg {
        font-size: @icon-lg;
    }

    &.is-disabled {
        color: @icon-disabled;
        cursor: not-allowed;
    }
}