// SENTINEL

// Light
@font-face {
  font-family: 'Sentinel';
  font-weight: 300;
  font-style: normal;
  src:  url('@/assets/fonts/sentinel/Sentinel-Light.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-Light.woff') format('woff');
}
@font-face {
  font-family: 'Sentinel';
  font-weight: 300;
  font-style: italic;
  src:  url('@/assets/fonts/sentinel/Sentinel-LightItalic.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-LightItalic.woff') format('woff');
}

// Medium
@font-face {
    font-family: 'Sentinel';
    font-weight: 400;
    font-style: normal;
    src:  url('@/assets/fonts/sentinel/Sentinel-Medium.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Sentinel';
    font-weight: 400;
    font-style: italic;
    src:  url('@/assets/fonts/sentinel/Sentinel-MediumItalic.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-MediumItalic.woff') format('woff');
}

// Medium
@font-face {
    font-family: 'Sentinel';
    font-weight: 500;
    font-style: normal;
    src:  url('@/assets/fonts/sentinel/Sentinel-Medium.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Sentinel';
    font-weight: 500;
    font-style: italic;
    src:  url('@/assets/fonts/sentinel/Sentinel-MediumItalic.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-MediumItalic.woff') format('woff');
}

// Semibold
@font-face {
    font-family: 'Sentinel';
    font-weight: 600;
    font-style: normal;
    src:  url('@/assets/fonts/sentinel/Sentinel-Semibold.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Sentinel';
    font-weight: 600;
    font-style: italic;
    src:  url('@/assets/fonts/sentinel/Sentinel-SemiboldItalic.woff2') format('woff2'),
          url('@/assets/fonts/sentinel/Sentinel-SemiboldItalic.woff') format('woff');
}

// Bold
@font-face {
  font-family: 'Sentinel';
  font-weight: 700;
  font-style: normal;
  src:  url('@/assets/fonts/sentinel/Sentinel-Bold.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Sentinel';
  font-weight: 700;
  font-style: italic;
  src:  url('@/assets/fonts/sentinel/Sentinel-BoldItalic.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-BoldItalic.woff') format('woff');
}

// Black
@font-face {
  font-family: 'Sentinel';
  font-weight: 900;
  font-style: normal;
  src:  url('@/assets/fonts/sentinel/Sentinel-Black.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-Black.woff') format('woff');
}
@font-face {
  font-family: 'Sentinel';
  font-weight: 900;
  font-style: italic;
  src:  url('@/assets/fonts/sentinel/Sentinel-BlackItalic.woff2') format('woff2'),
        url('@/assets/fonts/sentinel/Sentinel-BlackItalic.woff') format('woff');
}

// ROBOTO

@font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Light.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Italic.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-MediumItalic.woff") format("woff");
    font-style: italic;
    font-weight: 500;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 700;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-Black.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
  }
  @font-face { 
    font-family: "Roboto";
    src:
      url("@/assets/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"),
      url("@/assets/fonts/roboto/Roboto-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
  }