name: lxl-web
on:
  push:
    branches: [develop]
    paths:
      - "lxl-web/**"
      - "lxljs/**"
      - "packages/**"
  pull_request:
    branches: [develop]
    paths:
      - "lxl-web/**"
      - "lxljs/**"
      - "packages/**"
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./lxl-web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        env:
          HUSKY: ${{ env.HUSKY }}
        run: npm ci
      - name: Build local dependencies
        run: npm run prebuild-local-packages
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        env:
          API_URL: ${{ secrets.API_URL }}
          ID_URL: ${{ secrets.ID_URL }}
          PUBLIC_USE_SUPERSEARCH: ${{ env.PUBLIC_USE_SUPERSEARCH }}
        run: npm run test
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: playwright-traces
          path: lxl-web/test-results/
          include-hidden-files: true
          retention-days: 30
  lighthouseci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./lxl-web
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Build local dependencies
        run: npm run prebuild-local-packages
      - name: Build and run Lighthouse CI
        shell: bash
        env:
          API_URL: ${{ secrets.API_URL }}
          ID_URL: ${{ secrets.ID_URL }}
          LHCI_SERVER_BASE_URL: ${{ secrets.LHCI_SERVER_BASE_URL }}
          LHCI_TOKEN: ${{ secrets.LHCI_TOKEN }}
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          LHCI_SERVER_USERNAME: ${{ secrets.LHCI_SERVER_USERNAME }}
          LHCI_SERVER_PASSWORD: ${{ secrets.LHCI_SERVER_PASSWORD }}
          PUBLIC_USE_SUPERSEARCH: ${{ env.PUBLIC_USE_SUPERSEARCH }}
        run: |
          npm install -g @lhci/cli@0.15.1
          npm run build
          lhci autorun --upload.target=lhci --upload.serverBaseUrl="$LHCI_SERVER_BASE_URL" --upload.token="$LHCI_TOKEN" --upload.githubToken="$LHCI_GITHUB_APP_TOKEN" --upload.basicAuth.username="$LHCI_SERVER_USERNAME" --upload.basicAuth.password="$LHCI_SERVER_PASSWORD" || echo "LHCI failed!"
